{{ $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
{{ $alt := .PlainText | safeHTML }}

{{ $webp_src_set := ""}}
{{ $jpg_src_set := ""}}

{{ $jpg_l := $image.Resize "1200x q80" }}
{{ $jpg_m := $jpg_l.Resize "800x q80" }}
{{ $jpg_s := $jpg_m.Resize "600x q80" }}
{{ $jpg_xs := $jpg_m.Resize "400x q80" }}

{{ $jpg_src_set = (print $jpg_xs.RelPermalink " 400w" ", " $jpg_s.RelPermalink " 600w" ", " $jpg_m.RelPermalink " 800w" ", "  $jpg_l.RelPermalink " 1200w" ", "  $jpg_l.RelPermalink " 1200w") }}

{{ $webp_l := $image.Resize "1200x q80 webp" }}
{{ $webp_m := $webp_l.Resize "800x q80 webp" }}
{{ $webp_s := $webp_m.Resize "600x q80 webp" }}
{{ $webp_xs := $webp_m.Resize "400x q80 webp" }}

{{ $webp_src_set = (print $webp_xs.RelPermalink " 400w" ", " $webp_s.RelPermalink " 600w" ", " $webp_m.RelPermalink " 800w" ", "  $webp_l.RelPermalink " 1200w" ", "  $webp_l.RelPermalink " 1200w") }}

<picture>
    <source sizes="100vw" srcset="{{ $webp_src_set }}" type="image/webp" >
    <source sizes="100vw" srcset="{{ $jpg_src_set }}" type="image/jpg" >
    <img sizes="100vw" loading="lazy"
        src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $alt }}">
</picture>