{{ define "main" }}
<div class="wrapper-md block text-center">
  <h1 class="no-margin">Insight Blog</h1>
  <h2 class="h4">Insight Blog Subtitle?</h2>
</div>
<div class="wrapper-md">
  <div class="category-wrapper">
    <button class="btn-filter">{{ partialCached "svg-icons/filter.svg" . }} Filter by Category</button>
      {{- if isset site.Taxonomies "categories" }}
      {{- if not (eq (len site.Taxonomies.categories) 0) }}
      <ul class="category-list">
        {{- range .Site.Taxonomies.categories }}
        <li class="category-list__item"><a href="{{ .Page.Permalink }}" class="category category-list__link">{{ .Page.Title }}<span class="ml-2"> ({{ .Count }})</span></a></li>
        {{- end }}
      </ul>
      {{- end }}
      {{- end }}
  </div>
</div>
<div class="wrapper-md post-wrapper padding-top-9">
  {{ range (.Paginate ( where .Site.RegularPages "Type" "blog" )).Pages }}
  {{ .Render "blog-cards-alt" }}
  {{ end }}
</div>
<div class="wrapper-md padding-bottom-9">
  {{ partial "blog/custom-pagination.html" . }}
</div>
{{ end }}