{{ define "main" }}
<div class="container padding-top-10 text-center">
  <h1 class="no-margin">Insight Blog</h1>
  <h2 class="g4">Insight Blog Subtitle?</h2>
  {{- if isset site.Taxonomies "categories" }}
  {{- if not (eq (len site.Taxonomies.categories) 0) }}
  <ul class="categories-list">
    {{- range .Site.Taxonomies.categories }}
    <li class="categories-list__item"><a href="{{ .Page.Permalink }}" class="categories categories-list__link">{{ .Page.Title }}<span class="ml-2"> ({{ .Count }})</span></a></li>
    {{- end }}
  </ul>
  {{- end }}
  {{- end }}
</div>
<div class="container post-wrapper padding-top-10">
  {{ $paginator := .Paginate ( where .Data.Pages "Type" "blog" ) }}
  {{ range $paginator.Pages }}
  {{ .Render "blog-cards-alt" }}
  {{ end }}
</div>
<div class="container padding-bottom-10">
  {{ partial "blog/custom-pagination.html" . }}
</div>
{{ end }}