{{ define "main" }}
    <!-- <div class="blog-hero">
        <img src="{{ .Params.seo.featured_image }}" alt="">
    </div> -->
    <div class="post-content">
        <div class="wrapper flex flex-column flex-row-m pt-9">
            {{ partial "blog/post-sidebar" . }}
            <div class="post">
                <article role="article" class="post__body flow">
                    {{ if .Params.Categories }}
                    {{ range $index, $elements := .Params.Categories }}<a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/" class="categories categories__link">{{ if ne $index 0 }}{{ end }}
                        {{ . | title }}</a> {{ end}}
                    {{ end }}
                    <h1>{{ .Params.seo.title | markdownify }}</h1>
                    {{ .Content }}
                </article>
                <div class="share-this share-this--row flex flex-column flex-row-m">
                    {{ partial "blog/share-buttons" . }}
                </div>
                {{ partial "blog/post-author" . }}
            </div>
        </div>
        {{ partial "blog/post-navigation" . }}
        {{ partial "blog/related-posts" . }}
    </div>
{{ end }}