.breadcrumbs {
  display: none;

  @include breakpoint(md) {
    display: block;
    position: fixed;
    left: $ic-400;
    transform: rotate(-90deg) translateX(150px);
    transform-origin: left;
    z-index: 9;
  }

  &__inner {
    opacity: 0;
    transition: 0.7s ease-out;
    transform: translateX(-20px);
  }

  &__nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__list-item:not(:nth-last-child(2)) {
    .breadcrumbs__link {
      &:after {
        display: none;
      }
    }
  }

  &__list-item:last-child {
    pointer-events: none;
  }

  &__link {
    text-decoration: none;
    padding: 1rem;
    color: $tertiary-color;
    font-size: $ic-100;
    position: relative;
    top: -2px;
    transition: 0.3s ease;

    &:hover,
    &:focus {
      color: $secondary-color;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      content: "";
      height: 15px;
      width: 1px;
      background: $tertiary-color;
    }
  }

  &__progress-bar {
    height: 2px;
    width: 50px;
    background: $dark-black;
  }

  &__progress-bar-inner {
    height: 2px;
    width: 50px;
    background: $tertiary-color;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s ease;
  }
}

.single-post,
.blog {
  .breadcrumbs {
    li:nth-of-type(2) {
      pointer-events: none;

      .breadcrumbs__link {
        &::after {
          display: none;
        }
      }
    }

    &__list-item:last-child {
      display: none;
    }
  }
}
