.btn {
  display: inline-block;
  padding: 0.5rem 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: $ic-200;

  @include breakpoint(md) {
    font-size: $ic-300;
  }
}

.btn-primary,
.btn-secondary,
.btn-tertiary {
  position: relative;
  z-index: 1;
  color: $light-gray;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 46px;
    border-radius: 50px;
    z-index: -1;
    transition: 0.3s ease;
  }

  &:hover,
  &:focus {
    &::before {
      width: 100%;
    }
  }
}

.btn-primary {
  &::before {
    background-color: $primary-color;
  }
}

.btn-secondary {
  color: $primary-color;
  
  &::before {
    background-color: $light-gray;
  }
}

.btn-tertiary {
  &::before {
    background-color: $tertiary-color;
  }

  &:hover,
  &:focus {
    color: $body-black;

    &::before {
      width: 100%;
    }
  }
}

button {
  cursor: pointer;
}
