.btn {
  display: inline-block;
  padding: 0.5rem 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  @include breakpoint(md) {
    font-size: 2rem;
  }
}
.btn-primary,
.btn-secondary,
.btn-tertiary {
  position: relative;
  z-index: 1;
  color: $lightGrey;
  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 40px;
    border-radius: 50px;
    z-index: -1;
    transition: 0.3s ease;
  }
  &:hover,
  &:focus {
    &:before {
      width: 100%;
    }
  }
}
.btn-primary {
  &:before {
    background-color: $primaryColor;
  }
}
.btn-secondary {
  color: $primaryColor;
  &:before {
    background-color: $lightGrey;
  }
}
.btn-tertiary {
  &:before {
    background-color: $tertiaryColor;
  }
  &:hover,
  &:focus {
    color: $bodyBlack;
    &:before {
      width: 100%;
    }
  }
}
button {
  cursor: pointer;
}
