.comparison-slider { 
  width: 100%;
  height: 250px;
  max-height: 450px;
  overflow: hidden; 
  position: relative;

  @include breakpoint(sm) {
    height: 450px;
  }
}

.comparison-slider figure { 
  background-size: cover;
  position: relative;
  width: 100%; 
  height: 100%;
  margin: 0; 

  &::before, &::after {
    position: absolute;
    top: $ic-200;
    z-index: 1;
    background-color: $primary-color;
    color: $white;
    padding: .5rem;
    font-size: $ic-200;
  }

  &::before {
    content: "Before";
    left: $ic-200;
  }

  &::after {
    content: "After";
    right: $ic-200;
  }
}

.comparison-slider figure > img { 
  position: relative;
  width: 100%;
}

.comparison-slider figure div { 
  background-size: cover;
  position: absolute;
  width: 50%; 
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  overflow: hidden;
  bottom: 0;
  height: 100%;
}

input[type=range] {
  -webkit-appearance:none;
  -moz-appearance:none;
  position: relative;
  top: -2rem; 
  left: -2px;
  background-color: rgba($primary-color, 0.5);
  width: 100%; 
}

input[type=range]::-moz-range-track { 
  -moz-appearance:none;
    height: 2rem;
    width: 98%;
    position: relative;
    background-color: rgba($primary-color, 0.5);
 }

input[type=range]:active { 
  border: none; 
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance:none;
  width: 20px; 
  height: 2rem;   
  background: $primary-color;
  border-radius: 0;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 2rem;
  background: $primary-color;
  border-radius: 0;
} 

input[type=range]:focus::-webkit-slider-thumb {
  background: rgba($primary-color, 0.7);
}

input[type=range]:focus::-moz-range-thumb {
  background: rgba($primary-color, 0.7);
}

#fs-comparison figure { 
  background-image: url(/blog/branding-is-it-time-to-turn-the-page/foxstructures-oldlogo-2.jpg);
}

#fs-comparison figure div {
  background-image: url(/blog/branding-is-it-time-to-turn-the-page/foxstructures-newlogo-2.jpg);
}

#bol-comparison figure { 
  background-image: url(/blog/branding-is-it-time-to-turn-the-page/bol-oldlogo-2.jpg);
}

#bol-comparison figure div {
  background-image: url(/blog/branding-is-it-time-to-turn-the-page/bol-newlogo-2.jpg);
}

#wif-comparison figure { 
  background-image: url(/blog/branding-is-it-time-to-turn-the-page/wif-oldlogo.jpg);
}

#wif-comparison figure div {
  background-image: url(/blog/branding-is-it-time-to-turn-the-page/wif-newlogo.jpg);
}