.cursor {
  position: fixed;
  top: -20px;
  left: -20px;
  height: 10px;
  width: 10px;
  background: $tertiaryColor;
  border-radius: 50%;
  z-index: 9;
  transform: translate(-50%, -50%);
  transition: 0.1s ease-out;
  pointer-events: none;
  mix-blend-mode: exclusion;
}
.cursor-grow {
  transform: scale(6);
}
.cursor-hide {
  transform: scale(0);
}
.cursor-project,
.cursor-blog {
  height: 100px;
  width: 100px;
  background: $primaryColor;
  mix-blend-mode: initial;
  // mix-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  &:after {
    opacity: 0;
    text-align: center;
    line-height: 1.1em;
    content: "+";
    color: $white;
    // font-size: 6rem;
  }
}
.cursor-project {
  &:after {
    opacity: 1;
    content: "View Project";
  }
}
.cursor-blog {
  &:after {
    opacity: 1;
    content: "Read Post";
    padding: 1rem;
  }
}
