// .cursor {
//   position: fixed;
//   // top: -20px;
//   // left: -20px;
//   height: 10px;
//   width: 10px;
//   background: $tertiary-color;
//   border-radius: 50%;
//   z-index: 9;
//   transform: translate(-50%, -50%);
//   transition: 0.1s ease-out;
//   pointer-events: none;
//   mix-blend-mode: exclusion;
// }
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  user-select: none;
  pointer-events: none;
}

.follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 1px;
  background-color: $tertiary-color;
  border-radius: 50%;
  z-index: 9;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 2px;
  line-height: 1;
  mix-blend-mode: exclusion;
  user-select: none;
  pointer-events: none;

  &__text {
    opacity: 0;
  }
}

.cursor-grow {
  transform: scale(6);
}

.cursor-hide {
  transform: scale(0);
}

.cursor-project,
.cursor-blog {
  height: 100px;
  width: 100px;
  background: $primary-color;
  mix-blend-mode: initial;
  // mix-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;

  &:after {
    opacity: 0;
    text-align: center;
    line-height: 1.1em;
    content: "+";
    color: $white;
    // font-size: 6rem;
  }
}

.cursor-project {
  &:after {
    opacity: 1;
    content: "View Project";
  }
}

.cursor-blog {
  &:after {
    opacity: 1;
    content: "Read Post";
    padding: 1rem;
  }
}
