.featured-projects {
  &__row {
    display: grid;
    gap: $ic-200;

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__link {
    text-decoration: none;
    transition: none;

    @include breakpoint(md) {
      &:hover,
      &:focus {
        .featured-projects__overlay {
          opacity: 0.95;
        }

        .featured-projects__desc {
          transform: translateY(0);
        }
      }
    }
  }

  &__heading {
    margin: 0.65em 0;
  }

  &__project {
    margin: 10px 0;

    @include breakpoint(md) {
      margin: 0;
    }
  }

  &__overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
  }

  &__desc {
    padding: 2rem;
    transform: translateY(-100%);
    transition: 0.7s ease-out;
  }

  &__image {
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    height: 30vh;
    min-height: 225px;
    z-index: 1;

    img {
      height: 120%;
      position: relative;
      top: -20%;
      left: 0;
      object-fit: cover;
      object-position: center;
      transition: 0.3s ease-out;
      z-index: -1;
    }
  }
}

.featured-projects__link:nth-of-type(3),
.featured-projects__link:nth-of-type(4) {
  .featured-projects__heading {
    order: 2;
  }
}