.footer {
  background-color: $darkBlack;
  color: $white;
  font-size: 2rem;
  // position: fixed;
  // bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  // transform: translateY(-250px);
  // transition: 1s ease-out;
  // opacity: 0;
  // min-height: 608px;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: end;
  &__container {
    // height: 100%;
    // opacity: 0;
    transition: 2s ease;
    display: flex;
    flex-wrap: wrap;
  }
  &__column {
    flex: 0 0 100%;
    @include breakpoint(md) {
      flex: 0 0 25%;
    }
  }
  &__column:nth-of-type(2),
  &__column:nth-of-type(3) {
    display: none;
    @include breakpoint(md) {
      display: flex;
    }
  }
  &__column--center {
    display: flex;
    flex-direction: column;
  }
  a {
    text-decoration: none;
  }
  .brand-logo {
    margin-bottom: 1.5rem;
    max-width: 200px;
    opacity: 1;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    a {
      font-weight: 700;
    }
    a + a {
      margin-top: 1rem;
    }
  }
  &__menu,
  &__services {
    margin-bottom: 2.5rem;
    @include breakpoint(lg) {
      align-items: center;
    }
  }
  &__menu,
  &__services,
  &__newsletter {
    h5 {
      font-weight: 700;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    ul {
      margin-bottom: 0;
    }
  }
  &__nav-list {
    position: relative;
    padding: 0;
  }
  &__nav-list-item {
    padding: 0;
  }
  &__copyright {
    text-align: center;
    border-top: 1px solid $bodyBlack;
    font-size: 1.6rem;
    width: 100%;
    margin-top: 50px;
    @include breakpoint(md) {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        margin-right: 0.5rem;
        margin-bottom: 0;
      }
    }
  }
  &__copyright-nav-list {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
  &__nav-list-item {
    list-style-type: none;
  }
  &__nav-item {
    color: $white;
    padding: 0.5rem 0;
    transform: translateX(0);
    display: block;
    &:hover {
      transform: translateX(5px);
    }
  }
}
.ghost-footer {
  height: 650px;
  pointer-events: none;
  @include breakpoint(md) {
    height: 600px;
  }
}
.separator {
  height: 5px;
  width: 5px;
  margin: 0 10px;
  background-color: $lightGray;
  border-radius: 50%;
}
