.footer {
  background-color: $darkBlack;
  color: $white;
  font-size: 2rem;
  a {
    text-decoration: none;
  }
  .brand-logo {
    margin-bottom: 1.5rem;
    max-width: 200px;
  }
  &__contact {
    margin-bottom: 2.5rem;
    a {
      font-weight: 700;
    }
    a + a {
      margin-top: 1rem;
    }
  }
  &__menu-wrapper {
    justify-content: space-evenly;
  }
  &__menu,
  &__services {
    margin-bottom: 2.5rem;
    @include breakpoint(lg) {
      align-items: center;
    }
  }
  &__menu,
  &__services,
  &__newsletter {
    h5 {
      font-weight: 700;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;
    ul {
      margin-bottom: 0;
    }
  }
  &__nav-list {
    position: relative;
    padding: 0;
  }
  &__copyright {
    text-align: center;
    border-top: 1px solid $bodyBlack;
    font-size: 1.6rem;
    @include breakpoint(md) {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        margin-right: 0.5rem;
        margin-bottom: 0;
      }
    }
  }
  &__copyright-nav-list {
    position: relative;
    display: flex;
    padding: 0;
  }
  &__nav-list-item {
    list-style-type: none;
  }
  &__nav-item {
    color: $white;
    padding: 0.5rem 0;
    &:hover {
      color: $lightOrange;
    }
  }
}
.separator {
  position: relative;
  display: block;
  top: 18px;
  left: 0;
  height: 5px;
  width: 5px;
  margin: 0 10px;
  background-color: $lightGrey;
  border-radius: 50%;
}
