.ctct-form-embed.form_0 .ctct-form-defaults {
  background-color: $dark-black !important;
  padding: 0 !important;
}

.ctct-form-label {
  position: relative;
  left: 10px;
  color: $light-gray !important;
}

.ctct-form-embed form.ctct-form-custom .ctct-form-required:before {
  color: $primary-color !important;
}

.ctct-form-element {
  background-color: $body-black !important;
  border-radius: 0 !important;
  border: none !important;
  color: $light-gray !important;
}

.ctct-gdpr-text {
  display: none;
}

.ctct-form-button {
  width: fit-content !important;
  padding: 0.5rem 2.5rem !important;
  text-align: left !important;
  text-decoration: none;
  text-transform: uppercase !important;
  font-size: $ic-200 !important;
  background-color: transparent !important;
  border: none !important;
  letter-spacing: 1.6px !important;
  position: relative;
  z-index: 1;
  color: $light-gray !important;
  left: -10px;

  &::before {
    background-color: $primary-color;
    position: absolute;
    content: "";
    top: 0;
    left: 10px;
    height: 100%;
    width: 36px;
    border-radius: 50px;
    z-index: -1;
    transition: 0.3s ease;
  }

  &:hover,
  &:focus {
    &::before {
      width: 90%;
    }
  }

  @include breakpoint(md) {
    font-size: $ic-300 !important;
  }
}

.g-recaptcha {
  display: none !important;
}
