.separator {
  height: 5px;
  width: 5px;
  margin: 0 10px;
  border-radius: 50%;
}

.separator--gray {
  background-color: $light-gray;
}

.separator--red {
  margin: 0 0.25rem;
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    content: "";
    background-color: $primary-color;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}
