.service-card {
  width: 100%;
  margin: 3.5rem auto;
  border-radius: $radius;
  &__inner {
    padding: 2rem;
    @include breakpoint(lg) {
      padding: 3rem 7rem;
    }
    @include breakpoint(xl) {
      padding: 5rem 10rem;
    }
  }
  &__underline {
    width: 100%;
    height: 3px;
    background: $secondaryColor;
    margin: 0.5rem 0 1rem 0;
  }
  &__icon-wrapper {
    margin-bottom: 3rem;
    @include breakpoint(md) {
      margin-right: 6rem;
    }
  }
  &__icon {
    display: grid;
    place-items: center;
    height: 100%;
    @include breakpoint(md) {
      place-items: start;
      justify-items: center;
    }
    svg {
      max-width: 150px;
      @include breakpoint(md) {
        max-width: 250px;
      }
    }
  }
  &__desc {
    margin: 2.5rem 0 1.5rem 0;
  }
  &__service-list {
    margin-bottom: 0;
  }
  &__logos {
    padding: 1rem;
  }
  &__logos-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 150px;
    margin: 0 auto;
    svg {
      fill: $tertiaryColor;
      margin: 1rem;
      width: 30px;
      height: 30px;
    }
  }
}
.service-card:last-of-type {
  margin: 3.5rem auto 0 auto;
}
