.service-hero {
  position: relative;
  height: 60vh;
  overflow: hidden;
  display: grid;
  place-items: center;

  @include breakpoint(md) {
    height: 70vh;
  }

  &__icon {
    margin: 0 auto $ic-300 auto;

    svg {
      max-width: 100px;
      position: relative;
      top: 5px;
    }

    @include breakpoint(md) {
      margin: 0 auto $ic-700 auto;

      svg {
        max-width: 170px;
      }
    }
  }

  &__icon-title {
    background: $tertiary-color;
    color: $brand-black;
    border-radius: 50px;
    padding: 0.5rem $ic-600;
    position: relative;
    top: -10px;
    font-size: clamp(0.8rem, 4vw, $ic-300);
  }

  picture {
    height: 60vh;
    width: 100%;

    @include breakpoint(md) {
      height: 70vh;
    }

    img {
      object-fit: cover;
      height: 100%;
      transform: scale(1.1);
    }
  }

  &__circle {
    background: #fff;
    height: clamp(24rem, 80vw, 75rem);
    width: clamp(24rem, 80vw, 75rem);
    border-radius: 50%;
    position: absolute;

    &::before {
      position: absolute;
      content: "";
      border: 5px solid $secondary-color;
      height: clamp(24rem, 80vw, 75rem);
      width: clamp(24rem, 80vw, 75rem);
      border-radius: 50%;
      top: -10px;
      left: 10px;
    }
  }

  &__inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }

  &__title {
    color: $brand-black;
    max-width: 22ch;
    line-height: 1.2;
    margin: 0 auto;
  }
}

.design-hero {
  .service-hero__icon {
    svg {
      max-width: 100px;
    }
  }
}

.web-hero {
  .service-hero__icon {
    svg {
      top: -5px;
    }
  }
}
