.testimonials {
  &__icon {
    width: 10rem;
    margin: 2rem;
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: $secondaryColor;
  border: 1px solid $secondaryColor;
  border-radius: 50%;
  padding: 3rem;
}
.swiper-slide {
  padding: 0 2rem;
}
.swiper-button-prev,
.swiper-button-next {
  &:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 3rem;
    top: 50%;
    left: 25%;
    opacity: 0;
    background-color: $secondaryColor;
    transition: 0.2s ease;
  }
}
.swiper-button-prev,
.swiper-button-next {
  &:after {
    font-size: 2.5rem;
  }
}
.swiper-button-prev {
  &:before {
    width: 0;
    left: 25%;
  }
  &:hover,
  &:focus {
    &:before {
      opacity: 1;
      width: 3rem;
      transition-delay: 0.1s;
    }
  }
}
.swiper-button-prev {
  &:after {
    position: absolute;
    left: 20px;
    transition: 0.2s ease;
  }
}
.swiper-button-prev {
  &:hover,
  &:focus {
    &:after {
      left: 14px;
    }
  }
}
.swiper-button-next {
  &:before {
    width: 0;
    transform: rotate(180deg);
    transform-origin: left;
    left: 75%;
  }
  &:hover,
  &:focus {
    &:before {
      opacity: 1;
      width: 3rem;
      transition-delay: 0.1s;
    }
  }
}
.swiper-button-next {
  &:after {
    position: absolute;
    right: 20px;
    transition: 0.2s ease;
  }
}
.swiper-button-next {
  &:hover,
  &:focus {
    &:after {
      right: 14px;
    }
  }
}
.swiper-pagination {
  width: 100% !important;
  margin-top: 5rem;
}
.swiper-pagination-bullet {
  background-color: $secondaryColor !important;
  margin: 0 8px !important;
}
.swiper-pagination-bullet-active {
  background: $secondaryColor;
  transform: scale(1.2) !important;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    border: 1px solid $secondaryColor;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: -3px;
    left: -3px;
  }
}
