@use '../globals';

.social {
  display: none;
  @include globals.breakpoint(md) {
    display: block;
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.7s ease-in-out;
  }
  &__nav {
    padding: 0;
  }
  &__list-item {
    list-style-type: none;
    padding: 0;
  }
  &__link {
    &:hover,
    &:focus {
      transform: scale(1.2);
      svg {
        fill: globals.$secondaryColor;
      }
    }
  }
  svg {
    height: 20px;
    width: 20px;
    fill: globals.$tertiaryColor;
    transition: 0.7s ease-in-out;
  }
}
