.staff-card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.staff-card {
  border-radius: $radius;
  margin: $ic-100 0;
  text-decoration: none;

  @include breakpoint(sm) {
    margin: $ic-300;
    flex: 0 0 250px;
  }

  &:hover,
  &:focus {
    .staff-card__image {
      filter: grayscale(0);
    }
  }

  &__inner {
    padding: $ic-400 $ic-300;
  }

  &__image-wrapper {
    // position: relative;
    margin-bottom: $ic-200;
    // background: $white;
    // border-radius: 50%;
    // &:after {
    //   position: absolute;
    //   content: "";
    //   top: -7px;
    //   left: 7px;
    //   height: 102%;
    //   width: 102%;
    //   border: 5px solid $secondary-color;
    //   border-radius: 50%;
    // }
  }

  &__image {
    border-radius: 50%;
    filter: grayscale(1);
    transition: 0.3s ease-out;
  }

  &__name {
    font-family: "Friday Vibes";
    margin-bottom: $ic-200;
  }

  &__job-title {
    font-size: $ic-200;
  }
}

.staff-card:nth-of-type(even) {
  .staff-card__image-wrapper {
    &:after {
      top: 0;
    }
  }
}

.staff-card:nth-of-type(odd) {
  .staff-card__image-wrapper {
    &:after {
      top: 7px;
      left: -7px;
    }
  }
}
