.staff-card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.staff-card {
  border-radius: $radius;
  margin: 2rem;
  text-decoration: none;
  flex: 0 0 250px;
  &:hover,
  &:focus {
    .staff-card__image {
      filter: grayscale(0);
    }
  }
  &__inner {
    padding: 2.5rem 2rem;
  }
  &__image-wrapper {
    position: relative;
    margin-bottom: 1.5rem;
    background: $white;
    border-radius: 50%;
    &:after {
      position: absolute;
      content: "";
      top: -7px;
      left: 7px;
      height: 102%;
      width: 102%;
      border: 5px solid $secondaryColor;
      border-radius: 50%;
    }
  }
  &__image {
    border-radius: 50%;
    filter: grayscale(1);
    transition: 0.3s ease-out;
  }
  &__name {
    font-family: "Friday Vibes";
    margin-bottom: 1.5rem;
  }
  &__job-title {
    font-size: 1.7rem;
  }
}
.staff-card:nth-of-type(2) {
  .staff-card__image-wrapper {
    &:after {
      top: 0;
    }
  }
}
.staff-card:nth-of-type(3) {
  .staff-card__image-wrapper {
    &:after {
      top: 7px;
      left: -7px;
    }
  }
}
.single-post {
  .staff-card {
    margin: 10rem 0 0 0;
    &__written-by {
      font-size: 1.6rem;
    }
    &__image-wrapper {
      margin: 1.5rem auto 1.5rem 0;
      max-width: 80%;
    }
  }
}
