.testimonials {
  display: none;

  @include breakpoint(sm) {
    display: block;
  }
}

.testimonials h2 {
  max-width: 30ch;
}

.quote {
  width: $ic-900;
  margin: $ic-200;
  position: absolute;
  top: -25px;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding-top: $ic-400;

  &__wrapper {
    overflow: hidden;
    // height: 45rem;
    width: 100%;
    border-radius: $radius;

    // @include breakpoint(md) {
    //   height: 30rem;
    // }

    &:focus-within {
      box-shadow: 0 0 0 0.5rem $primary-color;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    // height: 100%;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }

  &__slide {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 5.96rem 1rem;

    p {
      font-size: $ic-200;
    }

    .slider__name span {
      font-style: italic;
    }

    @include breakpoint(md) {
      padding: 5.96rem;

      p {
        font-size: $ic-300;
      }
    }
  }

  // &__buttons {
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   transform: translateX(-50%);
  //   width: 100%;
  //   height: 60px;
  //   overflow: hidden;
  // }

  &__btn-prev,
  &__btn-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    z-index: 1;
    color: $secondary-color;
    background: none;
    border: 1px solid $secondary-color;
    border-radius: 50%;

    @include breakpoint(md) {
      top: 50%;
      width: 60px;
      height: 60px;
    }

    svg {
      position: relative;
      left: -2px;
      transform: translateX(0);
      transition: 0.3s ease;
      stroke: $secondary-color;
      width: 20px;
      height: 20px;

      @include breakpoint(md) {
        width: 48px;
        height: 48px;
      }
    }
  }

  &__btn-prev {
    left: $ic-200;

    @include breakpoint(md) {
      left: -$ic-1000;

      &:hover,
      &:focus {
        svg {
          transform: translateX(-10px);
        }
      }

      &::before {
        transform-origin: right;
        width: 2rem;
      }
    }
  }

  &__btn-next {
    left: $ic-700;

    @include breakpoint(md) {
      right: -$ic-1000;
      left: initial;

      &:hover,
      &:focus {
        svg {
          transform: translateX(10px);
        }
      }

      &::before {
        transform-origin: left;
        width: 1.8rem;
      }
    }
  }

  &__dots {
    display: none;

    @include breakpoint(md) {
      grid-column: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $ic-100;
      margin-top: $ic-300;
    }
  }

  &__dot {
    background: $secondary-color;
    height: 12px;
    width: 12px;
    transform: scale(1);
    border-radius: 50%;
    border: none;
    opacity: 0.5;
    transition: 0.3s ease;
  }

  &__dot.is-selected {
    transform: scale(1.4);
    opacity: 1;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $secondary-color;
      height: 150%;
      width: 150%;
      transform: translate(-17%, -17%);
      background: none;
      border-radius: 50%;
    }
  }
}

.btn-inactive {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
