{{ define "main" }}
<div class="work-hero">
    {{ $image := (.Resources.GetMatch (index .Params.seo.featured_image)) }}
    {{ $largewebp := $image.Resize "1600x q80 webp" }}
    {{ $smallwebp := $image.Resize "600x q80 webp" }}
    {{ $largejpg := $image.Resize "1600x q80" }}
    {{ $smalljpg := $image.Resize "600x q80" }}
    <div class="work-hero__image-wrapper with-parallax">
        <picture>
            <source sizes="100vw" srcset="{{ $smallwebp.RelPermalink }} 500w, {{ $largewebp.RelPermalink }} 800w" type="image/webp" >
            <source sizes="100vw" srcset="{{ $smalljpg.RelPermalink }} 500w, {{ $largejpg.RelPermalink }} 800w" type="image/jpg" >
            <img sizes="100vw" loading="lazy"
                src="{{ $image.RelPermalink }}" width="1600" height="600" alt="{{ .Params.seo.featured_image_alt }}" class="blog-card__image">
            
        </picture>
    </div>
    <div class="work-hero__header bg-black-2 wrapper-md block">
        <h1 class="text-center no-margin">{{ .Title }}</h1>
    </div>
</div>
<div class="bg-black block">
    <div class="work-specs wrapper-md auto-grid-md">
        <div>
            <h3 class="h4 no-margin">Client</h3>
            <p>{{ .Params.client }}</p>
        </div>
        <div>
            {{ with .Params.provided_services }}
            <div>
            <h3 class="h4 no-margin">What we did</h3>
            <ul>
                {{ range .services }}
                <li><a href="{{ .url }}">{{ .service }}</a></li>
                {{ end }}
            </ul>
            <a href="/services/" class="btn-arrow">View all services {{ partialCached "svg-icons/arrow-circle-right.svg" . }}</a>
            </div>
            {{ end }}
        </div>
        <div>
            <h3 class="h4 no-margin">Project type</h3>
            {{ if .Params.tags }}
            {{ range $index, $elements := .Params.tags }}<a href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}">{{ if ne $index 0 }}{{ end }}
                {{ . | title }}</a> {{ end}}
            {{ end }}
        </div>
        <div>
            {{ with .Params.industries }}
            <h3 class="h4 no-margin">Industry</h3>
            <ul>
                {{ range .industries }}
                <li>{{ .industry }}</li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</div>
<div class="work-body">
    <div class="block wrapper">
        {{ .Params.intro }}
    </div>
    <div class="padding-bottom-9">
        {{ .Content }}
    </div>
</div>
<div class="wrapper-lg">
    {{ partial "blog/post-navigation" . }}
</div>
{{ $related := .Site.RegularPages.RelatedIndices . "tags" | first 3 }}
{{ with $related }}
<div class="wrapper-lg related-projects padding-top-9">
    <h3>Related Projects</h3>
    <div class="post-wrapper padding-top-2">
        {{ range . }}
        {{ .Render "work-card" }}
        {{ end }}
    </div>
</div>
{{ end }}
{{ partialCached "cta" . }}
{{ end }}