{{ define "main" }}
<section id="work-hero" class="work-hero">
    {{ $image := (.Resources.GetMatch (index .Params.hero.image.image_url)) }}

    {{ $webp_src_set := ""}}
    {{ $jpg_src_set := ""}}

    {{ $jpg_xxl := $image.Resize "2500x q90" }}
    {{ $jpg_xl := $jpg_xxl.Resize "1800x q90" }}
    {{ $jpg_l := $jpg_xl.Resize "1200x q90" }}
    {{ $jpg_m := $jpg_l.Resize "800x q90" }}
    {{ $jpg_s := $jpg_l.Resize "600x q90" }}
    {{ $jpg_xs := $jpg_l.Resize "400x q90" }}
    {{ $jpg_src_set = (print $jpg_xs.RelPermalink " 400w" ", " $jpg_s.RelPermalink " 600w" ", "  $jpg_m.RelPermalink " 800w" ", "  $jpg_l.RelPermalink " 1200w" ", "  $jpg_xl.RelPermalink " 1800w" ", "  $jpg_xxl.RelPermalink " 2500w" ) }}

    {{ $webp_xxl := $image.Resize "2500x q90 webp" }}
    {{ $webp_xl := $image.Resize "1800x q90 webp" }}
    {{ $webp_l := $image.Resize "1200x q90 webp" }}
    {{ $webp_m := $webp_l.Resize "800x q90 webp" }}
    {{ $webp_s := $webp_l.Resize "600x q90 webp" }}
    {{ $webp_xs := $webp_l.Resize "400x q90 webp" }}

    {{ $webp_src_set = (print $webp_xs.RelPermalink " 400w" ", " $webp_s.RelPermalink " 600w" ", "  $webp_m.RelPermalink " 800w" ", "  $webp_l.RelPermalink " 1200w" ", "  $webp_xl.RelPermalink " 1800w" ", "  $webp_xxl.RelPermalink " 2500w") }}
  
    <div class="work-hero__image-wrapper hero-parallax">
        <picture>
            <source sizes="100vw" srcset="{{ $webp_src_set }}" type="image/webp" >
            <source sizes="100vw" srcset="{{ $jpg_src_set }}" type="image/jpg" >
            <img loading="lazy"
                src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ .Params.hero.image.image_alt }}" class="work-hero__image">
        </picture>
    </div>
    <div class="work-hero__header bg-black-2 wrapper-md block">
        <div class="title-reveal title-reveal--fade-up-away">
            <h1 class="title-reveal__title text-center no-margin">{{ .Title }}</h1>
        </div>
    </div>
</section>
<section id="projects-overview" class="bg-black block">
    <div class="work-specs wrapper-md auto-grid-md">
        <div>
            <h3 class="h4 no-margin">Client</h3>
            <p>{{ .Params.client }}</p>
        </div>
        <div>
            {{ with .Params.provided_services }}
            <div>
            <h3 class="h4 no-margin">What we did</h3>
            <ul class="services-list">
                {{ range .services }}
                <li><a href="{{ .url }}">{{ .service }}</a></li>
                {{ end }}
            </ul>
            <a href="/services/" class="btn-arrow">View all services {{ partialCached "svg-icons/arrow-circle-right.svg" . }}</a>
            </div>
            {{ end }}
        </div>
        <div>
            <h3 class="h4 no-margin">Project type</h3>
            {{ if .Params.tags }}
                {{ range (.GetTerms "tags") }}
                    <a href="{{ .Permalink }}" aria-label="View all {{ .Page.Title }} posts">{{ .LinkTitle }}</a>
                {{ end }}
            {{ end }}
        </div>
        <div>
            {{ with .Params.industries }}
            <h3 class="h4 no-margin">Industry</h3>
            <ul>
                {{ range .industries }}
                <li>{{ .industry }}</li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</section>
<section id="project-details" class="work-body">
    <div class="block wrapper flow">
        <h2>{{ .Params.intro.heading }}</h2>
        {{ .Params.intro.copy | markdownify }}
    </div>
    <div class="pb-9">
        {{ .Content }}
    </div>
</section>
{{ if .Params.testimonial }}
<section id="client-testimonial" class="wrapper-md pb-9">
    <div class="testimonial block bg-black">
        <div class="wrapper-sm flow fade-up">
            <div class="quote">
                {{ partial "svg-icons/quote.svg" . }}
            </div>
            {{ with .Params.testimonial }}
            <p>{{ .copy }}</p>
            <div>
                <h3 class="testimonial__name h5 no-margin">{{ .name | markdownify }}</h3>
                <h4 class="testimonial__client text-tertiary shift-up h6 no-margin">{{ .client }}</h4>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ partial "work/project-navigation" . }}
{{ $related := .Site.RegularPages.RelatedIndices . "tags" | first 3 }}
{{ with $related }}
<section id="related-projects" class="wrapper-lg related-projects pt-9">
    <h3 class="fade-up">Related projects</h3>
    <div class="post-wrapper pt-2 fade-up">
        {{ range . }}
        {{ .Render "work-card" }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ partialCached "cta" . }}
{{ end }}