<!DOCTYPE html>
<html lang="en">
{{ block "head" . }}{{ partial "head" . }}{{ end }}
{{ $namespace := lower .Page.Title }}
{{ $mainClass := lower .Page.Title }}

<body data-barba="wrapper">
  <div class="cursor"></div>
  {{ block "header" . }}{{ partial "header" . }}{{end}}
  <div class="viewport">
    <div class="scroll-container" data-barba="container" data-barba-namespace="{{ anchorize $namespace }}">
      <main id="main-content" class="site-main {{ .Params.page_class }} {{ anchorize $mainClass }}" role="main">
        <div class="smooth-scroll" data-scroll-container>
          {{ block "main" . }}{{ end }}
        </div>
      </main>
      {{ block "footer" . }}{{ partial "footer" . }}{{end}}
    </div>
  </div>
</body>

</html>