{{ $image := (.Resources.GetMatch (index .Params.seo.featured_image)) }}
{{ $smallwebp := $image.Resize "600x q90 webp" }}
{{ $smalljpg := $image.Resize "600x q90" }}
<article class="blog-card">
    <div class="blog-card__body">
        <div class="blog-card__image-wrapper with-parallax">
            <picture>
                <source srcset="{{ $smallwebp.RelPermalink }}" type="image/webp" >
                <source srcset="{{ $smalljpg.RelPermalink }}" type="image/jpg" >
                <img loading="lazy"
                    src="{{ $image.RelPermalink }}" width="500" height="300" alt="{{ .Params.seo.featured_image_alt }}" class="blog-card__image">
            </picture>
        </div>
        <div class="blog-card__meta">
            <div class="blog-card__meta-inner flex">
                <div class="blog-card__category">
                    {{ if .Params.Categories }}
                        {{ range (.GetTerms "categories") }}
                            <a href="{{ .Permalink }}" class="categories" aria-label="View all {{ .Page.Title }} posts">{{ .LinkTitle }}</a>
                        {{ end }}
                    {{ end }}
                </div>
                <div class="blog-card__staff-image-wrapper background-circle background-circle--md">
                    <img src="{{ (index .Site.Data.staff .Params.author).image_jpg }}" alt="headshot of Insight Creative's {{ (index .Site.Data.staff .Params.author).job_title }}, {{ (index .Site.Data.staff .Params.author).name }}" class="blog-card__staff-image" width="100" height="100">
                </div>
            </div>
        </div>
    </div>
    <h3 class="h5 blog-card__title"><a href="{{ .Permalink }}">{{ .Params.seo.title | markdownify }}</a></h3>
</article>