{{ $image := (.Resources.GetMatch (index .Params.seo.featured_image)) }}
{{ $smallwebp := $image.Resize "600x q80 webp" }}
{{ $smalljpg := $image.Resize "600x q80" }}
<article class="blog-card">
    <a href="{{ .RelPermalink }}">
        <div class="blog-card__image-wrapper with-parallax">
            <picture>
                <source sizes="50vw" srcset="{{ $smallwebp.RelPermalink }}" type="image/webp" >
                <source sizes="50vw" srcset="{{ $smalljpg.RelPermalink }}" type="image/jpg" >
                <img sizes="50vw" loading="lazy"
                    src="{{ $image.RelPermalink }}" width="500" height="300" alt="{{ .Params.seo.featured_image_alt }}" class="blog-card__image">
            </picture>
        </div>
        <div class="blog-card__meta">
            <div class="blog-card__meta-inner flex">
                <div class="blog-card__category">
                    {{ if .Params.Categories }}
                    <span class="categories">{{ range $index, $elements := .Params.Categories }}{{ if ne $index 0 }}{{ end }}
                        {{ . | title }} {{ end}}</span>
                    {{ end }}
                </div>
                <div class="blog-card__staff-image-wrapper background-circle background-circle--md">
                    <img src="{{ (index .Site.Data.staff .Params.author).image_jpg }}" alt="headshot of Insight Creative's {{ (index .Site.Data.staff .Params.author).job_title }}, {{ (index .Site.Data.staff .Params.author).name }}" class="blog-card__staff-image">
                </div>
            </div>
            <h4 class="g5 blog-card__title">{{ .Params.seo.title }}</h4>
        </div>
    </a>
</article>