<article class="blog-card">
    <a href="{{ .RelPermalink }}">
        <div class="blog-card__image-wrapper with-parallax">
            <img src="{{ .Permalink }}{{ .Params.seo.featured_image }}" alt="{{ .Params.seo.featured_image_alt }}" class="blog-card__image" width="500" height="350">
        </div>
        <div class="blog-card__meta">
            <div class="blog-card__meta-inner flex">
                <div class="blog-card__category">
                    {{ if .Params.Categories }}
                    <span class="categories">{{ range $index, $elements := .Params.Categories }}{{ if ne $index 0 }}{{ end }}
                        {{ . | title }} {{ end}}</span>
                    {{ end }}
                </div>
                <div class="blog-card__staff-image-wrapper">
                    <img src="{{ (index .Site.Data.staff .Params.author).image_jpg }}" alt="headshot of Insight Creative's {{ (index .Site.Data.staff .Params.author).job_title }}, {{ (index .Site.Data.staff .Params.author).name }}" class="blog-card__staff-image">
                </div>
            </div>
            <h4 class="g5 blog-card__title">{{ .Params.seo.title }}</h4>
        </div>
    </a>
</article>