{{ define "main" }}
<div class="wrapper padding-top-9 text-center">
  <h1 class="no-margin">{{ .Title }}</h1>
  <h2 class="g4">Category Subtitle?</h2>
</div>
<div class="wrapper">
  {{- if isset site.Taxonomies "categories" }}
  {{- if not (eq (len site.Taxonomies.categories) 0) }}
  <ul class="categories-list">
    {{- range .Site.Taxonomies.categories }}
    <li class="categories-list__item"><a href="{{ .Page.Permalink }}" class="categories categories-list__link">{{ .Page.Title }}<span class="ml-2"> ({{ .Count }})</span></a></li>
    {{- end }}
  </ul>
  {{- end }}
  {{- end }}
</div>
<div class="post-wrapper wrapper padding-top-9">
  {{ $paginator := .Paginate ( where .Data.Pages "Type" "blog" ) }}
  {{ range $paginator.Pages }}
  {{ .Render "blog-cards-alt" }}
  {{ end }}
</div>
<div class="wrapper padding-bottom-9">
  {{ partial "blog/custom-pagination.html" . }}
</div>
{{ end }}