{{ $image := (.Resources.GetMatch (index .Params.seo.featured_image)) }}
{{ $smallwebp := $image.Resize "600x q80 webp" }}
{{ $smalljpg := $image.Resize "600x q80" }}
<article class="work-card">
    <a href="{{ .RelPermalink }}">
        <div class="work-card__image-wrapper with-zoom">
            <picture>
                <source srcset="{{ $smallwebp.RelPermalink }}" type="image/webp" >
                <source srcset="{{ $smalljpg.RelPermalink }}" type="image/jpg" >
                <img loading="lazy"
                    src="{{ $image.RelPermalink }}" width="500" height="300" alt="{{ .Params.seo.featured_image_alt }}" class="blog-card__image">
            </picture>
        </div>
        <div class="work-card__meta">
            <h3 class="h5 work-card__title">{{ .Params.seo.title | markdownify }}</h4>
        </div>
    </a>
</article>