.footer {
  background-color: $dark-black;
  color: $white;
  font-size: $ic-300;
  display: grid;
  place-items: end;

  &__container {
    transition: 2s ease;
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
    flex: 0 0 100%;

    @include breakpoint(md) {
      flex: 0 0 25%;
    }
  }

  &__column:nth-of-type(2),
  &__column:nth-of-type(3) {
    width: 50%;
    flex: 1;
  }

  &__column--center {
    display: flex;
    flex-direction: column;
  }

  a {
    text-decoration: none;
  }

  .brand-logo {
    margin-bottom: 1rem;
    max-width: 200px;
    opacity: 1;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    margin-bottom: $ic-400;

    a {
      font-weight: 700;
    }

    a + a {
      margin-top: 0.5rem;
    }
  }

  &__menu,
  &__services {
    margin-bottom: $ic-400;

    @include breakpoint(lg) {
      align-items: center;
    }
  }

  &__menu,
  &__services,
  &__newsletter {
    h5 {
      font-weight: 700;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;

    ul {
      margin-bottom: 0;
    }
  }

  &__nav-list {
    position: relative;
    padding: 0;
  }

  &__nav-list-item {
    padding: 0;
  }

  &__newsletter {
    small {
      line-height: 1.2;
    }
  }

  &__copyright {
    text-align: center;
    border-top: 1px solid $body-black;
    font-size: $ic-100;
    width: 100%;
    margin-top: 50px;

    p {
      max-width: 100%;
    }

    @include breakpoint(md) {
      display: flex;
      align-items: center;

      p {
        margin: 0;
        margin-right: 0.5rem;
        margin-bottom: 0;
      }
    }
  }

  &__copyright-nav-list {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;

    li {
      position: relative;
      list-style-type: none;
      padding: 0 0 0 $ic-400;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 5px;
        width: 5px;
        margin: 0 10px;
        border-radius: 50%;
        background-color: $light-gray;
      }

      a {
        color: $white;
      }
    }
  }

  &__nav-list-item {
    list-style-type: none;
  }

  &__nav-item {
    color: $white;
    transform: translateX(0);
    display: block;
    font-size: $ic-200;

    &:hover,
    &:focus {
      transform: translateX(5px);
    }
  }

  &__nav-list-item + .footer__nav-list-item {
    a {
      padding-top: $ic-100;
    }
  }

  .contact-form .contact-form__form-group input {
    background-color: $body-black;
  }
}
