.site-header {
  background-color: $dark-black;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  &__inner {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    // overflow: hidden;
  }

  &__logo {
    opacity: 0;

    img {
      width: 160px;

      @include breakpoint(sm) {
        width: 100%;
        max-width: 225px;
      }
    }
  }

  &__nav {
    position: relative;

    @include breakpoint(md) {
      margin-left: auto;
    }
  }

  .sub-menu-active {
    .nav-list__sub-menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__search {
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
      fill: $light-gray;
    }
  }

  .sub-menu {
    /* Border */
    margin-top: -1px;

    /* Hidden by default */
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in,
      visibility 0.3s ease-in;
    transition-delay: 0.3s;
    // transform: translateY(-25px);

    /* Absolute position */
    left: 0px;
    position: absolute;
    top: 100%;

    /* Take full width */
    width: 100%;
    padding: $ic-200;

    /* Displayed on top of other elements */
    background: $body-black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: $radius;

    &__inner {
      width: 100%;
      max-width: 100%;
      columns: 2;
      padding: 0;
    }

    &__item {
      list-style-type: none;
      margin: 0;
    }

    &__link {
      font-size: $ic-200;
      text-decoration: none;
      padding: 0.3rem;
      display: block;
      border-radius: $radius;

      img {
        max-width: $ic-700;
        margin-right: $ic-200;
      }

      &:hover,
      &:focus {
        background: $primary-color;
      }
    }
  }

  &__mobile-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: $dark-black;
    overflow: hidden;
    transition: 0.3s ease-out;

    @include breakpoint(md) {
      display: none;
    }

    ul {
      padding: 0;

      li {
        list-style-type: none;
        padding: 0;
      }
    }

    .nav-list-item {
      position: relative;
      border-bottom: 1px solid rgba($light-gray, 0.1);
      width: 96%;
      margin: 0 auto;

      a {
        display: block;
        padding: $ic-300;
        line-height: 1;
      }
    }

    a {
      color: $white;
      text-decoration: none;
      width: 100%;
      transition: color 0.3s ease-out;

      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
  }

  .toggle-mobile-dropdown {
    position: absolute;
    top: 6px;
    right: 0;
    height: $ic-700;
    width: $ic-800;
    background: none;
    border: none;
    border-left: 1px solid rgba($light-gray, 0.1);

    &::before,
    &::after {
      content: "";
      width: 1rem;
      height: 2px;
      background-color: $light-gray;
      position: absolute;
      transition: 0.3s ease;
      top: 50%;
      right: 30%;
      transform: translate(-30%, -30%);
    }

    &::before {
      transform: translate(-30%, -30%) rotate(90deg);
    }
  }

  .nav-list-dropdown {
    display: none;

    li {
      border-bottom: none;
    }

    a {
      font-size: $ic-200;
      padding: 0 $ic-300 $ic-200 $ic-300;
      color: rgba($light-gray, 0.8);
    }
  }

  .active {
    border-bottom: 1px solid rgba($light-gray, 0.1);

    .parent {
      border-bottom: none;
    }

    .nav-list-dropdown {
      display: block;
    }

    .toggle-mobile-dropdown {
      &::before {
        transform: translate(-30%, -30%) rotate(0deg);
      }
    }
  }

  &__social-nav {
    padding: $ic-300 0 !important;

    svg {
      fill: $tertiary-color;
      height: 20px;
    }
  }

  &__social-link {
    padding: $ic-200;
  }
}

.nav-list {
  display: none;
  // position: absolute;
  // width: 100%;
  // top: 100%;
  // left: 0;
  // transform: translateX(120%);
  // transition: 0.3s ease-in-out;
  // margin: 0;
  // padding: 0;
  // opacity: 0;
  // background-color: $dark-black;

  @include breakpoint(md) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transform: translateX(0);
  }
}

.nav-list-item {
  list-style-type: none;

  @include breakpoint(md) {
    display: inline-block;
  }
}

.nav-item {
  position: relative;
  text-decoration: none;
  color: $light-gray;
  padding: $ic-100 $ic-200;
  opacity: 0;
  transform: translateX(-5px);
  width: 100%;

  @include breakpoint(md) {
    padding: $ic-300 $ic-400;
  }
}

.current {
  position: relative;
  font-weight: 700;

  &::before {
    background: $primary-color;
    height: 100%;
    width: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    opacity: 1;

    @include breakpoint(md) {
      height: 2px;
      width: 50%;
      bottom: 20px;
      transform: translateX(50%);
    }
  }
}

.nav-open {
  transform: translateX(0);
  opacity: 1;
  overflow: hidden;
  visibility: visible;
}

.hamburger {
  cursor: pointer;
  margin-left: auto;

  @include breakpoint(md) {
    display: none;
  }
}
