.site-header {
  background-color: $dark-black;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  &__inner {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    // overflow: hidden;
  }

  &__logo {
    opacity: 0;

    img {
      width: 160px;

      @include breakpoint(sm) {
        width: 100%;
        max-width: 300px;
      }
    }
  }

  &__nav {
    position: relative;

    @include breakpoint(md) {
      margin-left: auto;
    }
  }

  &__search {
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
      fill: $light-gray;
    }
  }

  &__mobile-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: $dark-black;
    overflow: hidden;
    transition: 0.3s ease-out;

    @include breakpoint(md) {
      display: none;
    }

    ul {
      padding: 0;

      li {
        list-style-type: none;
        padding: 0;
      }
    }

    .nav-list-item a {
      display: block;
      padding-bottom: $ic-300;
    }

    a {
      color: $white;
      text-decoration: none;
      width: 100%;
      transition: color 0.3s ease-out;

      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
  }

  &__social-nav {
    padding: $ic-300 0 !important;

    svg {
      fill: $tertiary-color;
      height: 20px;
    }
  }

  &__social-link {
    padding: $ic-200;
  }
}

.nav-list {
  display: none;
  // position: absolute;
  // width: 100%;
  // top: 100%;
  // left: 0;
  // transform: translateX(120%);
  // transition: 0.3s ease-in-out;
  // margin: 0;
  // padding: 0;
  // opacity: 0;
  // background-color: $dark-black;

  @include breakpoint(md) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transform: translateX(0);
  }
}

.nav-list-item {
  list-style-type: none;

  @include breakpoint(md) {
    display: inline-block;
  }
}

.nav-item {
  position: relative;
  text-decoration: none;
  color: $light-gray;
  padding: $ic-100 $ic-200;
  opacity: 0;
  transform: translateX(-5px);
  width: 100%;

  @include breakpoint(md) {
    padding: $ic-300 $ic-400;
  }
}

.current {
  position: relative;
  font-weight: 700;

  &::before {
    background: $primary-color;
    height: 100%;
    width: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    opacity: 1;

    @include breakpoint(md) {
      height: 2px;
      width: 50%;
      bottom: 20px;
      transform: translateX(50%);
    }
  }
}

.nav-open {
  transform: translateX(0);
  opacity: 1;
  overflow: hidden;
  visibility: visible;
}

.hamburger {
  cursor: pointer;
  margin-left: auto;

  @include breakpoint(md) {
    display: none;
  }
}
