.post {
  &__body {
    // border-bottom: 1px solid $dark-black;
    padding-bottom: $ic-300;
  }

  @include breakpoint(md) {
    width: 75%;
    margin-left: auto;
  }

  .post-meta {
    margin-bottom: 1.5rem;
  }
  // img:first-of-type {
  //   object-fit: cover;
  //   height: 400px;
  // }
  ul,
  ol {
    @include breakpoint(md) {
      padding: 0 0 0 2.5rem;
    }
  }

  ul + ol,
  ol + ul {
    margin: 0 0 2rem 0;
  }

  blockquote {
    margin-left: 0;
    border-left: 10px solid $primary-color;
    padding: 2rem;
  }

  hr {
    border: 1px solid $dark-black;
    position: relative;
    overflow: initial;
    margin-block-start: $ic-600;

    &::after {
      content: "";
      position: absolute;
      background: url("/images/logo-dark.svg") $body-black;
      height: 50px;
      width: 50px;
      background-size: 100%;
      background-repeat: no-repeat;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.headshot-image {
  width: 100%;

  @include breakpoint(md) {
    width: 50%;
  }
}

.staff-card--post {
  margin: 0;
  display: block;

  .staff-card__written-by {
    font-size: $ic-200;
  }

  .staff-card__image-wrapper {
    margin: 0 auto;
    max-width: 50%;

    @include breakpoint(sm) {
      max-width: 25%;
    }

    @include breakpoint(lg) {
      margin: $ic-200 auto $ic-200 0;
      max-width: 80%;
    }
  }

  .staff-card__bio {
    font-size: $ic-200;
    line-height: 1.5;
  }
}

.related-posts,
.related-projects {
  .post-wrapper {
    @include breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);
      border-top: none;
    }
  }

  .blog-card.blog-card:nth-of-type(even) {
    @include breakpoint(md) {
      margin-top: 0;
    }
  }
}
