<section id="recent-posts" class="bg-black">
  <div class="wrapper-lg block">
    <h3 class="fade-up">Latest {{ .Title | lower }} articles</h3>
    <div class="recent-posts fade-up flex flex-column flex-row-m">
      {{ $title := .Title | lower }}
      {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        {{ if eq "categories" $taxonomyname }}
          {{ range $key, $value := $taxonomy }}
            {{ if eq $title $key }}
              {{ range first 2 $value.Pages }}
              {{ .Render "blog-cards" }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
    <div class="flex flex-justify-end">
      <a href="/blog/" class="btn btn-primary">View all articles</a>
    </div>
  </div>
</section>