<section class="service-overview fade-up">
    <div class="wrapper padding-top-9">
        <div class="flow fade-up">
            <h3 class="h5 text-center text-secondary shift-up">{{ .Params.service_overview.subhead_small | markdownify }}</h3>
            <h3 class="text-center">{{ .Params.service_overview.subhead | markdownify }}</h3>
            <p>
            {{ .Params.service_overview.description | markdownify }}
            </p>
        </div>
    </div>
    <div class="wrapper-lg">
        {{ partial "services/service-cards" . }}
    </div>
    {{ if eq .Title "Web"}}
        {{ partial "services/web-portfolio" . }}
    {{ end }}
    <div class="wrapper-lg department-feed">
        <h4 class="text-center">Get to know our {{ lower .Title }} department!</h4>
        <div class="staff-card-wrapper">
        {{ if eq .Title "Content" }}
            {{ partialCached "services/staff-cards-content" . }}
        {{ else if eq .Title "Web"}}
            {{ partialCached "services/staff-cards-web" . }}
        {{ else if eq .Title "Digital"}}
            {{ partialCached "services/staff-cards-media" . }}
        {{ else if eq .Title "Media"}}
            {{ partialCached "services/staff-cards-media" . }}
        {{ else if eq .Title "Design"}}
            {{ partialCached "services/staff-cards-design" . }}
        {{ end }}
        </div>
        <div class="text-center margin-top-2">
            <a href="#" class="btn btn-tertiary">Meet the team</a>
        </div>
    </div>
    <div class="wrapper studio-cta padding-top-9">
        {{ with .Params.service_cta }}
        <h4 class="text-center">{{ .heading }}</h4>
        {{ end }}
    </div>
</section>