{{ with .Params.services }}
<div class="flex flex-column">
    {{ range .service_focus }}
    <div class="service-card bg-black fade-up">
        <div class="service-card__inner">
            <div class="flex flex-column flex-row-m">
                <div class="service-card__icon-wrapper w-100 w-30-m flex flex-column">
                    <div class="service-card__icon">
                        <img src="/images/service-icons/{{ urlize .heading }}-icon.svg" alt="{{ humanize .heading }} icon">
                    </div>
                    {{ if .logos }}
                    <div class="service-card__logos">
                        <div class="service-card__logos-wrapper">
                            {{ range .logos }}
                                {{ if eq .logo "facebook" }}
                                    {{ partial "svg-icons/facebook-alt.svg" . }}
                                {{ end }}
                                {{ if eq .logo "instagram" }}
                                    {{ partial "svg-icons/instagram.svg" . }}
                                {{ end }}
                                {{ if eq .logo "linkedin" }}
                                    {{ partial "svg-icons/linkedin-alt.svg" . }}
                                {{ end }}
                                {{ if eq .logo "youtube" }}
                                    {{ partial "svg-icons/youtube.svg" . }}
                                {{ end }}
                                {{ if eq .logo "twitter" }}
                                    {{ partial "svg-icons/twitter.svg" . }}
                                {{ end }}
                                {{ if eq .logo "snapchat" }}
                                    {{ partial "svg-icons/snapchat.svg" . }}
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div class="w-100 w-70-m">
                    <h4 class="text-white no-margin">{{ .heading }}</h4>
                    <div class="service-card__underline"></div>
                    {{ .subhead | markdownify }}
                    <p class="service-card__desc">{{ .description }}</p>
                    <p class="service-card__service-list text-dark-gray">{{ .service_list }}</p>
                </div>
            </div>
            {{ if .partners }}
            <div class="service-card__partners">
                {{ range .partners }}
                    <img src="/images/partners/{{ .logo }}" alt="{{ .image }}" width="100" height="25" aria-hidden="true">
                {{ end }}
            </div>
            {{ end }}
            {{ if .outro }}
                <p class="text-center text-secondary shift-up h5 mt-6">{{ .outro }}</p>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
{{ end }}