{{ range sort .Site.Data.staff "weight" "asc" }}
{{ if eq .department "Web" }}
<a href="/about/{{ .name | urlize }}/" class="staff-card bg-black fade-staggered">
    <div class="staff-card__inner text-center">
        <div class="staff-card__image-wrapper background-circle background-circle--lg">
            <img src="{{ .image_jpg }}" alt="headshot of Insight Creative's {{ .job_title }}, {{ .name }}" class="staff-card__image" width="100" height="100">
        </div>
        <h3 class="staff-card__name">{{ .name }}</h3>
        <h4 class="staff-card__job-title text-tertiary shift-up">{{ .job_title }}</h4>
    </div>
</a>
{{ end }}
{{ if eq .department "Design" }}
<a href="/about/{{ .name | urlize }}/" class="staff-card bg-black fade-staggered">
    <div class="staff-card__inner text-center">
        <div class="staff-card__image-wrapper background-circle background-circle--lg">
            <img src="{{ .image_jpg }}" alt="headshot of Insight Creative's {{ .job_title }}, {{ .name }}" class="staff-card__image" width="100" height="100">
        </div>
        <h3 class="staff-card__name">{{ .name }}</h3>
        <h4 class="staff-card__job-title text-tertiary shift-up">{{ .job_title }}</h4>
    </div>
</a>
{{ end }}
{{ end }}
