{{ range sort .Site.Data.staff "weight" "asc" }}
{{ if eq .department "Content" }}
<a href="#" class="staff-card bg-black">
    <div class="staff-card__inner text-center">
        <div class="staff-card__image-wrapper background-circle background-circle--lg">
            <img src="{{ .image_jpg }}" alt="headshot of Insight Creative's {{ .job_title }}, {{ .name }}" class="staff-card__image">
        </div>
        <h5 class="staff-card__name h3">{{ .name }}</h5>
        <h6 class="staff-card__job-title text-tertiary shift-up">{{ .job_title }}</h6>
    </div>
</a>
{{ end }}
{{ end }}
