{{ define "main" }}
<section id="contact-form" class="block wrapper-md">
    <div class="flex flex-column flex-row-m">
        <div class="w-100">
            <div class="contact-form">
                <h4>Sign Up for SMS Text Messages</h4>
                <div class="contact-form__wrapper">
                    <form method="post" name="contact" data-netlify="true" netlify-honeypot="bot-field"
                        action="/sms-sign-up/thank-you/">
                        <div hidden>
                            <label for="bot-field">
                                Don’t fill this out if you're human:
                                <input name="bot-field" id="bot-field" />
                            </label>
                        </div>
                        <div class="visually-hidden">
                            <label for="subject">New form submission from the insightcreative.com SMS sign up form</label>
                            <input aria-label="subject" name="subject"
                                value="New form submission from the insightcreative.com sms sign up form" />
                        </div>
                        <div class="contact-form__form-group">
                            <label for="first_name">First Name*</label>
                            <input id="first_name" name="first_name" type="text" class="contact-form__form-control" required>
                        </div>
                        <div class="contact-form__form-group">
                            <label for="last_name">Last Name*</label>
                            <input id="last_name" name="last_name" type="text" class="contact-form__form-control" required>
                        </div>
                        <div class="contact-form__form-group">
                            <label for="phone">Phone*</label>
                            <input id="phone" name="phone" type="tel" class="contact-form__form-control" required>
                        </div>
                        <div class="contact-form__form-group opt-in">
                            <input id="opt-in" name="opt-in" type="checkbox">
                            <label for="opt-in">By checking this box and submitting this form, you consent to receive transactional text messages for lead notifications from Insight Creative, Inc. Reply STOP to opt out. Reply HELP for help. Standard message and data rates may apply. Message frequency may vary.</label>
                        </div>
                        <div class="contact-form__form-group opt-in">
                            <input id="opt-in" name="opt-in" type="checkbox">
                            <label for="opt-in">By checking this box and submitting this form, you consent to receive text messages for marketing from Insight Creative, Inc. Reply STOP to opt out. Reply HELP for help. Message and data rates may apply. Message frequency may vary.</label>
                        </div>
                        <div class="contact-form__form-group opt-in">
                            <input id="opt-in" name="opt-in" type="checkbox">
                            <label for="opt-in">I agree to the <a href="https://insightcreative.com/sms-terms-and-conditions/">Terms and Conditions</a> and <a href="https://insightcreative.com/privacy-policy/">Privacy Policy</a>.</label>
                        </div>
                        <button target="_blank" type="submit" class="contact-form__btn btn btn-primary">Send
                            Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}