{{ define "main" }}
<section class="author">
    <div class="author__hero container padding-top-10 padding-bottom-10">
        <div class="author__image-wrapper">
            <img src="{{ (index .Site.Data.staff .Params.author).image_jpg }}" alt="headshot of Insight Creative's {{ (index .Site.Data.staff .Params.author).job_title }}, {{ (index .Site.Data.staff .Params.author).name }}" class="author__image">
        </div>
        <h1 class="author__name text-center">{{ (index .Site.Data.staff .Params.author).name }}</h1>
        <h2 class="author__job-title text-tertiary text-center shift-up g6">{{ (index .Site.Data.staff .Params.author).job_title }}</h2>
        <p>{{ (index .Site.Data.staff .Params.author).bio }}</p>
    </div>
</section>
<section class="authors-posts">
    <div class="authors-posts__inner post-wrapper container">
        {{ $pages := .Site.RegularPages }}
        {{ $blog := where $pages "Type" "blog" }}
        {{ $posts := where $blog "Params.author" (.Title | title) }}
        {{- range $posts -}}
        {{ .Render "blog-cards" }}
        {{ end }}
    </div>
</section>
{{ end }}