.footer {
  background-color: $brandBlack;
  color: $white;
  font-size: 2rem;
  a {
    text-decoration: none;
  }
  .brand-logo {
    margin-bottom: 2.5rem;
    max-width: 200px;
  }
  &__contact {
    a {
      font-weight: 700;
    }
  }
  &__copyright {
    text-align: center;
    border-top: 1px solid $bodyBlack;
    font-size: 1.6rem;
    @include breakpoint(md) {
      display: flex;
      p {
        margin: 0;
        margin-right: 0.5rem;
        margin-bottom: 0;
      }
    }
  }
  &__menu {
    padding: 0 2rem;
  }
  &__nav {
    ul {
      margin-bottom: 0;
    }
  }
  &__nav-list {
    position: relative;
    padding: 0;
  }
  &__copyright-nav-list {
    position: relative;
    display: flex;
    padding: 0;
  }
  &__nav-list-item {
    list-style-type: none;
  }
  &__nav-item {
    color: $white;
    padding: 0.5rem 0;
    &:hover {
      color: $lightOrange;
    }
  }
  &__nav-list-item + &__nav-list-item {
    margin-left: 0.5rem;
  }
}
