.post-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  border-top: 1px solid $darkBlack;
  .blog-card {
    width: 100%;
  }
  .blog-card:nth-of-type(even) {
    @include breakpoint(md) {
      margin-top: 50px;
    }
  }
}
.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include breakpoint(lg) {
    justify-content: space-between;
  }
  &__item {
    list-style-type: none;
    padding: 0;
    margin: 1rem;
  }
}
.categories {
  background: $primaryColor;
  padding: 0.5rem 2rem;
  border-radius: $radius;
  font-size: 1.6rem;
  text-decoration: none;
  margin-bottom: 2.5rem;
}
.blog-content {
  padding: 0 2rem 6rem 2rem;
  margin-top: -50px;
  position: relative;
  figure img {
    margin: 0 auto;
  }
  blockquote {
    border-left: 5px solid $primaryColor;
    padding: 2rem;
    p {
      margin-bottom: 0;
    }
  }
}
.blog-summary {
  margin-bottom: 4rem;
  border-bottom: 1px solid $primaryColor;
  &__link {
    text-decoration: none;
    h3 {
      transition: 0.3s ease-out;
    }
    &:hover,
    &:focus {
      h3,
      span {
        color: $secondaryColor;
      }
      .blog-summary__entry-meta,
      p.blog-summary__summary {
        color: $primaryColor;
      }
      .blog-summary__read-more {
        svg {
          fill: $secondaryColor;
          transform: translateX(5px);
        }
      }
      .blog-summary__img {
        opacity: 0.7;
      }
    }
  }
  &__image-wrap {
    margin-bottom: 2rem;
  }
  &__img {
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }
  &__content {
    @include breakpoint(md) {
      padding: 0 2rem;
    }
  }
  &__title {
    margin-bottom: 0;
  }
  &__entry-meta {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    transition: 0.3s ease-out;
  }
  &__summary {
    transition: 0.3s ease-out;
  }
  &__read-more {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
    svg {
      width: 20px;
      margin-left: 5px;
      transition: 0.3s ease-out;
    }
  }
}
