.contact-hero {
  background-image: url("/images/background-images/insight-creative-exterior.jpg");
  background-size: cover;
  background-position: center;
}

.contact-form {
  &__netlify-bot-field {
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
  }

  .contact-form__form-group input,
  .contact-form__form-group select,
  .contact-form__form-group textarea {
    background-color: $dark-black;
    border: none;
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: $ic-300;
  }

  &__form-group input {
    height: $ic-700;
  }

  &__form-group textarea {
    height: 10rem;
  }

  &__btn {
    border: none;
    background: none;
  }
}

.contact-sidebar {
  margin-top: $ic-600;

  @include breakpoint(md) {
    margin-top: 0;
    margin-left: $ic-900;
  }

  &__info {
    padding-bottom: $ic-600;
  }

  &__info,
  &__work {
    border-bottom: 1px solid $dark-black;
  }
}
