.studio-intro {
  background-image: url("/images/background-images/studio-equipment-background.jpg");
}

.studio-hero {
  .service-hero__icon {
    svg {
      max-width: 80px;
    }
  }
}

.studio {
  .department-feed {
    display: none;
  }

  .studio-cta {
    display: block;
  }
  
  .site-cta {
    padding-top: 0.5rem;
  }
}
