.work-hero {
  height: 40vh;
  position: relative;

  &__image-wrapper {
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    height: 100%;
  }

  &__image {
    transform: scale(1.1);
  }

  &__header {
    position: absolute;
    bottom: 0;
    width: 100%;
    // border-bottom: 1px solid $dark-black;
  }

  @include breakpoint(md) {
    height: 70vh;

    &__header {
      position: relative;
      top: -150px;
    }
  }
}

.work-specs {
  margin-top: $ic-300;

  @include breakpoint(md) {
    margin-top: 9.313rem;
    margin-top: $ic-800;
  }

  ul {
    padding: 0;

    li {
      list-style-type: none;
      padding: 0;
    }
  }
}

.work-body {
  .flex-grid:first-of-type {
    margin-top: 0;
  }

  iframe,
  .website-design {
    margin-top: $ic-300;
  }
}

.testimonial {
  .quote {
    top: 0;
  }
}

.related-projects,
.work {
  .blog-card__meta {
    top: 0;
  }
}
