.work {
  h1 {
    font-size: clamp($ic-400, 4vw, $ic-700);
  }
}

.work-hero {
  height: 70vh;
  position: relative;

  &__image-wrapper {
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    height: 100%;
  }

  &__image {
    transform: scale(1.1);
    object-fit: cover;
    height: 100%;
  }

  &__header {
    position: absolute;
    bottom: -5px;
    width: 100%;
  }

  @include breakpoint(md) {
    &__header {
      position: relative;
      top: -150px;
    }
  }
}

.work-specs {
  margin-top: $ic-300;

  @include breakpoint(md) {
    margin-top: 9.313rem;
    margin-top: $ic-800;
  }

  ul {
    padding: 0;

    li {
      list-style-type: none;
      padding: 0;
    }
  }

  .services-list {
    columns: 2;
    margin-bottom: $ic-200;
  }
}

.work-body {
  .flex-grid:first-of-type {
    margin-top: 0;
  }

  iframe,
  .website-design {
    margin-top: $ic-300;
    width: 100%;
  }
}

.testimonial {
  .quote {
    top: 0;
  }

  &__name span {
    font-style: italic;
  }
}
