<section class="bg-black-2 site-cta padding-top-10 padding-bottom-10">
    <div class="site-cta__content container-wide padding-top-10 padding-bottom-10 bg-red fade-up">
        <div class="site-cta__inner">
            <p class="g3">How can we help <span class="emphasis-underline">you?</span></p>
            <p class="g5">Let’s talk about bringing <span class="emphasis-white">substance</span> to your brand.</p>
            <a href="/contact" class="btn btn-tertiary">Contact Us</a>
        </div>
    </div>
</section>