<section class="bg-black-2 site-cta block">
    <div class="wrapper-lg">
        <div class="site-cta__content block bg-red fade-up">
            <div class="site-cta__inner flow">
                <p class="h3">How can we help <span class="emphasis-underline">you?</span></p>
                <p class="h5">Let’s talk about bringing <span class="emphasis-white">substance</span> to your brand.</p>
                <a href="/contact" class="btn btn-tertiary">Contact Us</a>
            </div>
        </div>
    </div>
</section>