<div class="bg-black" data-scroll-section>
  <div class="container-wide padding-top-10 padding-bottom-10">
    <h3>From the <span class="emphasis-red">blog</span></h3>
    <div class="recent-posts flex flex-column flex-row-m">
      {{ $pages := .Site.RegularPages }}
      {{ $recentPosts := where $pages "Type" "blog" }}
      {{ range first 2 $recentPosts }}
      {{ .Render "blog-cards" }}
      {{ end }}
    </div>
    <div class="flex flex-justify-end">
      <a href="/blog" class="btn btn-primary">View all articles</a>
    </div>
  </div>
</div>