<div class="container-wide padding-top-10">
    <h3>See what happens when <span class="emphasis-red">clear communication</span> meets <span class="emphasis-underline">imagination.</span></h3>
    <div class="featured-projects padding-bottom-4">
      <div class="featured-projects__row-1 flex flex-end">
        <div class="w-40 featured-projects__project project-tall">
          <h4 class="featured-projects__heading">Washington Island Ferry</h4>
          <div class="featured-projects__image">
            <picture>
                <img src="{{ .Site.BaseURL }}images/projects/wif-main-logo-options-2400.jpg" alt="" class="cover">
            </picture>
          </div>
        </div>
        <div class="w-60 featured-projects__project project-short">
          <h4 class="featured-projects__heading">Fox Structures</h4>
          <div class="featured-projects__image">
            <picture>
                <img src="{{ .Site.BaseURL }}images/projects/fox-structures-billboard-main.jpg" alt="" class="cover">
            </picture>
          </div>
        </div>
      </div>
      <div class="featured-projects__row-2 flex flex-start">
        <div class="w-60 featured-projects__project project-short">
          <div class="featured-projects__image">
            <picture>
                <img src="{{ .Site.BaseURL }}images/projects/fox-structures-billboard-main.jpg" alt="" class="cover">
            </picture>
          </div>
          <h4 class="featured-projects__heading">Fox Structures</h4>
        </div>
        <div class="w-40 featured-projects__project project-tall">
          <div class="featured-projects__image">
            <picture>
                <img src="{{ .Site.BaseURL }}images/projects/wif-main-logo-options-2400.jpg" alt="" class="cover">
            </picture>
          </div>
          <h4 class="featured-projects__heading">Washington Island Ferry</h4>
        </div>
      </div>
    </div>
    <div class="flex flex-justify-end">
      <a href="#" class="btn-primary">View more of our latest work</a>
    </div>
  </div>