<div class="container-wide padding-top-10" data-scroll-section>
    <h3>See what happens when <span class="emphasis-red">clear communication</span> meets <span class="emphasis-underline">imagination.</span></h3>
    <div class="featured-projects padding-bottom-4">
      <div class="featured-projects__row-1 flex flex-column flex-row-m flex-end">
        <a href="/work/" class="w-100 w-40-m project-tall featured-projects__link">
          <div class="featured-projects__project">
            <h4 class="featured-projects__heading">Washington Island Ferry</h4>
            <div class="featured-projects__image">
              <picture>
                  <img src="{{ .Site.BaseURL }}images/projects/wif-main-logo-options-2400.jpg" alt="" class="cover">
              </picture>
            </div>
          </div>
        </a>
        <a href="/work/fox-structures" class="w-100 w-60-m project-short featured-projects__link">
          <div class="featured-projects__project">
            <h4 class="featured-projects__heading">Fox Structures</h4>
            <div class="featured-projects__image">
              <picture>
                  <img src="{{ .Site.BaseURL }}images/projects/fox-structures-billboard-main.jpg" alt="" class="cover">
              </picture>
            </div>
          </div>
        </a>
      </div>
      <div class="featured-projects__row-2 flex flex-column flex-row-m flex-start">
        <a href="/work/fox-structures" class="w-100 w-60-m project-short featured-projects__link">
          <div class="featured-projects__project">
            <div class="featured-projects__image">
              <picture>
                  <img src="{{ .Site.BaseURL }}images/projects/fox-structures-billboard-main.jpg" alt="" class="cover">
              </picture>
            </div>
            <h4 class="featured-projects__heading">Fox Structures</h4>
          </div>
        </a>
        <a href="/work/" class="w-100 w-40-m project-tall featured-projects__link">
          <div class="featured-projects__project">
            <div class="featured-projects__image">
              <picture>
                  <img src="{{ .Site.BaseURL }}images/projects/wif-main-logo-options-2400.jpg" alt="" class="cover" data-scroll-speed="2">
              </picture>
            </div>
            <h4 class="featured-projects__heading">Washington Island Ferry</h4>
          </div>
        </a>
      </div>
    </div>
    <div class="flex flex-justify-end">
      <a href="#" class="btn btn-primary">View more of our latest work</a>
    </div>
  </div>