<!-- <footer class="footer" role="contentinfo">
  <div class="footer__container">
    <div class="container-wide flex flex-column flex-row-m padding-top-5 padding-bottom-5">
      <div class="footer__contact w-100 w-20-m flex flex-column">
        <a class="brand-logo" href="{{ site.BaseURL }}">
          <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" class="img-responsive dim" width="200" height="70">
        </a>
        <a href="#">{{ site.Params.addressSt }}<br>{{ site.Params.addressCity }}</a>
        <a href="tel:{{ site.Params.phone }}">{{ site.Params.phone }}</a>
      </div>
      <div class="footer__menu-wrapper flex flex-row w-100 w-50-m">
        <div class="footer__menu w-50 w-25-m flex flex-column">
          <nav class="footer__menu-nav" role="navigation" aria-label="Footer Navigation">
            <h4 class="h5">Menu</h4>
            {{ with .Site.Menus.main }}
            <ul class="footer__nav-list">
              {{ range . }}
              <li class="footer__nav-list-item">
                <a class="footer__nav-item" href="{{ .URL }}" aria-label="{{ .Name }}"
                  title="{{ .Name }}">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
          {{ end }}
          </nav>
        </div>
        <div class="footer__services w-50 w-25-m flex flex-column">
          <nav class="footer__services-nav" role="navigation" aria-label="Services Navigation">
            <h4 class="h5">Services</h4>
            <ul class="footer__nav-list">
              <li class="footer__nav-list-item">
                <a class="footer__nav-item" href="#" aria-label=""
                  title="">Content</a>
              </li>
              <li class="footer__nav-list-item">
                <a class="footer__nav-item" href="#" aria-label=""
                  title="">Web</a>
              </li>
              <li class="footer__nav-list-item">
                <a class="footer__nav-item" href="#" aria-label=""
                  title="">Digital</a>
              </li>
              <li class="footer__nav-list-item">
                <a class="footer__nav-item" href="#" aria-label=""
                  title="">Media</a>
              </li>
              <li class="footer__nav-list-item">
                <a class="footer__nav-item" href="#" aria-label=""
                  title="">Design</a>
              </li>
              <li class="footer__nav-list-item">
                <a class="footer__nav-item" href="#" aria-label=""
                  title="">Studio</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="footer__newsletter w-100 w-30-m flex flex-column">
        <h4 class="h5">Sign up for our newsletter</h4>
      </div>
    </div>
    <div class="footer__copyright container-wide padding-top-2 padding-bottom-2">
      <p>© {{ dateFormat "2006" now }} {{ .Site.Params.author }} All Rights Reserved.</p>
      <div class="footer__nav">
        <ul class="footer__copyright-nav-list">
          <span class="separator"></span><li><a href="/privacy-policy/" class="footer__nav-item">Privacy Policy</a></li>
          <span class="separator"></span><li><a href="/sitemap/" class="footer__nav-item">Sitemap</a></li>
          <span class="separator"></span><li><a href="/contact/" class="footer__nav-item">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer> -->
<footer class="footer" role="contentinfo">
  <div class="footer__container wrapper-lg padding-top-5">
    <div class="footer__contact footer__column">
      <a class="brand-logo" href="{{ site.BaseURL }}">
        <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" class="img-responsive dim" width="200" height="70">
      </a>
      <a href="#">{{ site.Params.addressSt }}<br>{{ site.Params.addressCity }}</a>
      <a href="tel:{{ site.Params.phone }}">{{ site.Params.phone }}</a>
    </div>
    <div class="footer__menu footer__column footer__column--center">
      <nav class="footer__menu-nav" role="navigation" aria-label="Footer Navigation">
        <h4 class="h5">Menu</h4>
        {{ with .Site.Menus.main }}
        <ul class="footer__nav-list">
          {{ range . }}
          <li class="footer__nav-list-item">
            <a class="footer__nav-item" href="{{ .URL }}" aria-label="{{ .Name }}"
              title="{{ .Name }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      </nav>
    </div>
    <div class="footer__services footer__column footer__column--center">
      <nav class="footer__services-nav" role="navigation" aria-label="Services Navigation">
        <h4 class="h5">Services</h4>
        <ul class="footer__nav-list">
          <li class="footer__nav-list-item">
            <a class="footer__nav-item" href="/services/content" aria-label=""
              title="">Content</a>
          </li>
          <li class="footer__nav-list-item">
            <a class="footer__nav-item" href="/services/web" aria-label=""
              title="">Web</a>
          </li>
          <li class="footer__nav-list-item">
            <a class="footer__nav-item" href="/services/digital" aria-label=""
              title="">Digital</a>
          </li>
          <li class="footer__nav-list-item">
            <a class="footer__nav-item" href="/services/media" aria-label=""
              title="">Media</a>
          </li>
          <li class="footer__nav-list-item">
            <a class="footer__nav-item" href="/services/design" aria-label=""
              title="">Design</a>
          </li>
          <li class="footer__nav-list-item">
            <a class="footer__nav-item" href="/services/studio" aria-label=""
              title="">Studio</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__newsletter footer__column">
      <h4 class="h5">Sign up for our newsletter</h4>
    </div>
    <div class="footer__copyright padding-top-2 padding-bottom-2">
      <p>© {{ dateFormat "2006" now }} {{ .Site.Params.author }} All Rights Reserved.</p>
      <div class="footer__nav">
        <ul class="footer__copyright-nav-list">
          <span class="separator"></span><li><a href="/privacy-policy/" class="footer__nav-item">Privacy Policy</a></li>
          <span class="separator"></span><li><a href="/sitemap/" class="footer__nav-item">Sitemap</a></li>
          <span class="separator"></span><li><a href="/contact/" class="footer__nav-item">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="ghost-footer"></div>