<footer class="footer">
  <div class="footer__container wrapper-lg pt-5">
    <div class="footer__contact footer__column">
      <a class="brand-logo" href="{{ site.BaseURL }}">
        <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" class="img-responsive dim" width="200" height="70">
      </a>
      <a href="https://goo.gl/maps/2MNcw6Dko8Qt9RNs5" target="_blank" rel="noopener noreferrer">{{ site.Params.addressSt }}<br>{{ site.Params.addressCity }}</a>
      <a href="tel:{{ site.Params.phone }}">{{ site.Params.phone }}</a>
    </div>
    <div class="footer__menu footer__column footer__column--center">
      <nav class="footer__menu-nav" aria-label="Footer Navigation">
        <h4 class="h5">Menu</h4>
        {{ with .Site.Menus.main }}
        <ul class="footer__nav-list">
          {{ range . }}
          <li class="footer__nav-list-item">
            <a class="footer__nav-item" href="{{ .URL }}" aria-label="{{ .Name }}"
              title="{{ .Name }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      </nav>
    </div>
    <div class="footer__services footer__column footer__column--center">
      <nav class="footer__services-nav" aria-label="Services Navigation">
        <h4 class="h5">Services</h4>
        <ul class="footer__nav-list">
          <li class="footer__nav-list-item">
            <a class="footer__nav-item" href="/services/copywriting-services/" aria-label=""
              title="">Content</a>
          </li>
          <li class="footer__nav-list-item">
            <a class="footer__nav-item" href="/services/web-design-development-services/" aria-label=""
              title="">Web</a>
          </li>
          <li class="footer__nav-list-item">
            <a class="footer__nav-item" href="/services/digital-marketing-services/" aria-label=""
              title="">Digital</a>
          </li>
          <li class="footer__nav-list-item">
            <a class="footer__nav-item" href="/services/media/" aria-label=""
              title="">Media</a>
          </li>
          <li class="footer__nav-list-item">
            <a class="footer__nav-item" href="/services/graphic-design-services/" aria-label=""
              title="">Design</a>
          </li>
          <li class="footer__nav-list-item">
            <a class="footer__nav-item" href="/services/photography-videography-services/" aria-label=""
              title="">Studio</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__newsletter footer__column flow">
      <div>
        <h4 class="h5 no-margin">Sign up for our newsletter</h4>
        <small>Get our quarterly Team Insights delivered directly to your inbox.</small>
      </div>
      <form name="Newsletter Subscribe" data-netlify="true" netlify-honeypot="bot-field" action="/contact/thank-you/" class="contact-form">
        <div hidden>
            <label for="bot-field">
              Don’t fill this out if you're human: 
              <input name="bot-field" id="bot-field" />
            </label>
        </div>
        <div class="visually-hidden">
            <label for="subject">New email sub from the insightcreative.com newsletter subscribe form</label>
            <input aria-label="subject" name="subject" value="New email sub from the insightcreative.com newsletter subscribe form" />
        </div>
        <div class="contact-form__form-group">
            <label for="email">Email*</label>
            <input id="email" name="_replyto" type="email" class="contact-form__form-control" required>
        </div>
        <button target="_blank" type="submit" class="contact-form__btn btn btn-primary">Sign Up</button>
    </form>
    </div>
    <div class="footer__copyright pt-2 pb-2">
      <p>© {{ dateFormat "2006" now }} {{ .Site.Params.author }} All Rights Reserved.</p>
      <div class="footer__nav">
        <ul class="footer__copyright-nav-list">
          <li><a href="/privacy-policy/">Privacy Policy</a></li>
          <li><a href="/sitemap/">Sitemap</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>