<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <title>{{ if .Params.seo.title }}{{ .Params.seo.title | markdownify }}{{ else }}{{ .Title }}{{ end }} | {{ .Site.Title }}</title>

    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ if .Params.seo.title }}{{ .Params.seo.title  | markdownify }}{{ else }}{{ .Title }}{{ end }} | {{ .Site.Title }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="{{ if .Params.seo.featured_image }}{{ .Permalink }}{{ .Params.seo.featured_image }}{{ else }}{{ .Site.BaseURL }}/images/background-images/Insight-Social-Preview.jpg{{ end }}">
    <meta property="og:image:width" content="1500">
    <meta property="og:image:height" content="1000">
    <meta property="og:image:alt" content="{{ if .Params.seo.featured_image_alt }}{{ .Params.seo.featured_image_alt }}{{ else }}{{ .Params.seo.title | markdownify }}{{ end }}">
    <meta property="og:description" content="{{ .Params.seo.description }}">
    <meta name="description" content="{{ .Params.seo.description }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ if .Params.seo.title }}{{ .Params.seo.title | markdownify }}{{ else }}{{ .Title }}{{ end }} | {{ .Site.Title }}">
    <meta name="twitter:description" content="{{ .Params.seo.description }}">
    <meta name="twitter:site" content="@insightwi">
    <meta name="twitter:image" content="{{ if .Params.seo.featured_image }}{{ .Permalink }}{{ .Params.seo.featured_image }}{{ else }}{{ .Site.BaseURL }}/images/background-images/Insight-Creative-Inc-Communication-With-Substance-Cover.jpg{{ end }}">

    <link rel="canonical" href="{{ .Permalink }}">

    {{ $scss := resources.Get "scss/main.scss" | toCSS }}
    {{ $postcss := $scss | resources.PostCSS | minify }}
    <link rel="stylesheet" href="{{ $postcss.Permalink }}" media="screen">

    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preload" href="/fonts/Friday_Vibes.woff" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="https://use.typekit.net/xsz7ylg.css">
    {{ "<!--Favicon-->" | safeHTML }}
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

    {{ template "_internal/google_analytics.html" . }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
    <script src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
    <script>
    algoliasearchNetlify({
        appId: '501BB72R4M',
        apiKey: 'd54a1f948956185ff9229be92edd42ee',
        siteId: 'af0c846f-baa7-49d0-b21b-ec7cc0066bf2',
        branch: 'main',
        selector: 'div.search',
        theme: {
            mark: '#f6f6f6',
            background: '#1d1d1d',
            selected: '#292929',
            text: '#f6f6f6',
            colorSourceIcon: '#cd1f40'
        }
    });
    </script>
</head>