{{ "<!-- Header -->" | safeHTML }}
<a class="skip-link" href="#main-content" tabindex="0">Skip to main content</a>
<a class="skip-link" href="#footer" tabindex="0">Skip to footer content</a>
<header class="site-header">
  <div class="site-header__inner wrapper-lg">
    <a class="site-header__logo" href="{{ site.BaseURL }}">
      <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" class="img-responsive dim" width="200" height="70">
    </a>
    <nav class="site-header__nav" aria-label="Primary Navigation">
      <ul class="nav-list">
        {{ $url := .RelPermalink }}
        {{ range .Site.Menus.main }}
        
        {{ $active := eq $url .URL }}
        {{ $contact := eq "Contact Us" .Name }}
          {{ if .HasChildren }}
              <li class="nav-list__item has-sub-menu">
                <a {{if $active }}class="current nav-item" {{end}} class="nav-item" href="{{ .URL }}" aria-label="{{ .Name }}">
                  {{ .Name }}
                  <span class="sub-menu-indicator"></span>
                </a>
                <div class="nav-list__sub-menu sub-menu">
                  <ul class="sub-menu__inner">
                    {{ range .Children }}
                      <li class="sub-menu__item">
                          <a class="sub-menu__link flex flex-center" href="{{ .URL }}" aria-label="{{ .Name }}">
                            <img src="/images/blog-icons/{{ anchorize .Name }}-icon.svg" alt="{{ .Name }} icon">
                            {{ .Name }}
                          </a>
                      </li>
                    {{ end }}
                  </ul>
                </div>
              </li>
          {{ else }}
          <li class="nav-list__item">
            {{ if $contact }}
            <a class="btn btn-primary" href="{{ .URL }}" aria-label="{{ .Name }}">
              {{ .Name }}
            </a>
            {{ else }}
            <a {{if $active }}class="current nav-item" {{end}} class="nav-item" href="{{ .URL }}" aria-label="{{ .Name }}">
                {{ .Name }}
            </a>
            {{ end }}
          </li>
          {{ end }}    
        {{ end }}
        <li class="nav-list__item site-header__search"><button class="nav-item search__open" aria-label="open search bar">{{ partialCached "svg-icons/search.svg" . }}</button></li>
      </ul>
      <div id="search" class="search flex-row-reverse-m flex-center-m">
        <div class="search__icon-wrapper flex flex-center"><button class="search__close flex flex-center" aria-label="close search bar">{{ partialCached "svg-icons/close.svg" . }}</button></div>
      </div>
    </nav>
    <div class="site-header__mobile-nav">
      <div class="site-header__mobile-nav-inner">
        <ul class="site-header__mobile-nav-menu">
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li class="nav-list-item nav-list-has-dropdown">
              <a class="nav-item parent" href="{{ .URL }}" aria-label="{{ .Name }}" aria-haspopup="true" aria-expanded="false"
                title="{{ .Name }}">{{ .Name }}
              </a>
              <button class="toggle-mobile-dropdown" aria-label="open mobile dropdown menu"></button>
                <ul class="nav-list-dropdown">
                  {{ range .Children }}
                  <li class="nav-list-item">
                    <a class="nav-item" href="{{ .URL }}" aria-label="{{ .Name }}"
                title="{{ .Name }}">{{ .Name }}</a>
                  </li>
                  {{ end }}
                </ul>
            </li>
            {{ else }}
          <li class="nav-list-item">
            <a href="{{ .URL }}" class="nav-item" aria-label="{{ .Name }}" title="{{ .Name }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
        <ul class="site-header__social-nav flex flex-justify-around">
          {{ range .Site.Data.business_info.social_media }}
          <li class="site-header__social-list-item">
            <a href="{{ .social.link }}" class="site-header__social-link" aria-label="{{ .social.title }}">
                {{ if eq .social.title "Facebook" }}
                {{ partial "svg-icons/facebook.svg" . }}
                {{ else if eq .social.title "Twitter"}}
                {{ partial "svg-icons/twitter.svg" . }}
                {{ else if eq .social.title "Instagram"}}
                {{ partial "svg-icons/instagram.svg" . }}
                {{ else if eq .social.title "LinkedIn"}}
                {{ partial "svg-icons/linkedin.svg" . }}
                {{ else if eq .social.title "YouTube"}}
                {{ partial "svg-icons/youtube.svg" . }}
                {{ end }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <button class="hamburger hamburger--spin" type="button" aria-label="open mobile menu" aria-expanded="false">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</header>