<div class="hero-alt bg-black block text-center">
  <div class="wrapper-md flow">
    {{ if eq .Title "Blog" }}
    <h1 class="no-margin">Team insights</h1>
    <h2 class="h5">Get expert guidance on business strategy, branding, content marketing, web design and more! </h2>
    {{ else if eq .Title "Website Questionnaire"}}
    <h1 class="no-margin">{{ .Params.hero.head | markdownify }}</h1>
    <h2 class="h5">{{ .Params.hero.copy | markdownify }}</h2>
    {{ else if eq .Title "Privacy Policy"}}
    <h1 class="no-margin">{{ .Title }}</h1>
    {{ else }}
    <h1 class="no-margin">{{ .Params.category_title }}</h1>
    <h2 class="h5">{{ .Description }}</h2>
    {{ end }}
  </div>
</div>