<section class="{{ if .background_color }} bg-{{ .background_color }}{{ end }}">
    <div class="wrapper block">
        <div class="service-intro__desc flow fade-up--delayed">
            <h2 class="h5 text-secondary shift-up">{{ .preheading | markdownify }}</h2>
            <h3>{{ .heading | markdownify }}</h3>
            {{ if .body }}
              {{ if in .body "\n" }}
                  {{ .body | markdownify }}
              {{ else }}
                  <p>{{ .body | markdownify }}</p>
              {{ end }}
            {{ end }}
            {{ if .button.enabled }}
                {{ with .button }}
                    <a class="btn btn--{{ .button_color }}" href="{{ .button_url }}" {{ if .open_in_new_tab }}target="_blank"{{ end }}>
                    {{ .button_text }}
                    </a>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>