<div class="service-list padding-top-10 padding-bottom-10">
    <div class="container">
      <div class="service-list__intro">
        <h3><span class="emphasis-red">Elevate</span> your brand with <span class="emphasis-underline">ultimate efficiency.</span></h3>
        <p class="g5">
          Insight offers all marketing services—including a large commercial video and photography studio—under one roof. Plus, you’ll gain access to a full-service team with specialized skillsets who are dedicated to making marketing an efficient, effective—and overall positive—experience.
        </p>
      </div>
    </div>
    <div class="container-wide">
      <div class="service-list__grid">
        <a href="#" class="service-list__link">
          <div class="service-list__service-card flex flex-center">
            <div class="service-list__icon-wrapper w-50">
                <div class="service-list__icon">
                    {{ partial "svg-icons/content.svg" . }}
                  </div>
            </div>
            <div class="flex flex-column w-50">
              <h4 class="service-list__service-heading g4">Content</h4>
              <ul class="service-list__service-preview">
                <li class="service-list__service-item">Copywriting</li>
                <li class="service-list__service-item">Public Relations</li>
                <li class="service-list__service-item">Social Media</li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" class="service-list__link">
          <div class="service-list__service-card flex flex-center">
            <div class="service-list__icon-wrapper w-50">
                <div class="service-list__icon">
                    {{ partial "svg-icons/web.svg" . }}
                </div>
            </div>
            <div class="flex flex-column w-50">
              <h4 class="service-list__service-heading g4">Web</h4>
              <ul class="service-list__service-preview">
                <li class="service-list__service-item">Design</li>
                <li class="service-list__service-item">Development</li>
                <li class="service-list__service-item">eCommerce</li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" class="service-list__link">
          <div class="service-list__service-card flex flex-center">
            <div class="service-list__icon-wrapper w-50">
                <div class="service-list__icon">
                    {{ partial "svg-icons/digital.svg" . }}
                </div>
            </div>
            <div class="flex flex-column w-50">
              <h4 class="service-list__service-heading g4">Digital</h4>
              <ul class="service-list__service-preview">
                <li class="service-list__service-item">Media Buying</li>
                <li class="service-list__service-item">Real-time Analytics</li>
                <li class="service-list__service-item">Reporting</li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" class="service-list__link">
          <div class="service-list__service-card flex">
            <div class="service-list__icon-wrapper w-50">
                <div class="service-list__icon">
                    {{ partial "svg-icons/media.svg" . }}
                </div>
            </div>
            <div class="flex flex-column w-50">
              <h4 class="service-list__service-heading g4">Media</h4>
              <ul class="service-list__service-preview">
                <li class="service-list__service-item">Research</li>
                <li class="service-list__service-item">Strategy</li>
                <li class="service-list__service-item">Buying</li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" class="service-list__link">
          <div class="service-list__service-card flex flex-center">
            <div class="service-list__icon-wrapper w-50">
                <div class="service-list__icon">
                    {{ partial "svg-icons/design.svg" . }}
                </div>
            </div>
            <div class="flex flex-column w-50">
              <h4 class="service-list__service-heading g4">Design</h4>
              <ul class="service-list__service-preview">
                <li class="service-list__service-item">Branding</li>
                <li class="service-list__service-item">Illustration</li>
                <li class="service-list__service-item">Packaging</li>
              </ul>
            </div>
          </div>
        </a>
        <a href="#" class="service-list__link">
          <div class="service-list__service-card flex flex-center">
            <div class="service-list__icon-wrapper w-50">
                <div class="service-list__icon">
                    {{ partial "svg-icons/camera.svg" . }}
                </div>
            </div>
            <div class="flex flex-column w-50">
              <h4 class="service-list__service-heading g4">Studio</h4>
              <ul class="service-list__service-preview">
                <li class="service-list__service-item">Photography</li>
                <li class="service-list__service-item">Videography</li>
                <li class="service-list__service-item">Drone</li>
              </ul>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>