<div class="service-list padding-top-10 padding-bottom-10">
    <div class="container fade-up">
      <div class="service-list__intro">
        <h3>{{ .Params.Services.Subhead | markdownify }}</h3>
        <p class="g5">
          {{ .Params.Services.Description }}
        </p>
      </div>
    </div>
    <div class="container-wide fade-up">
      <div class="service-list__grid">
        {{ range .Site.Data.services }}
        <a href="/services/{{ lower .name }}" class="service-list__link">
          <div class="service-list__service-card flex flex-center">
            <div class="service-list__icon-wrapper w-40">
                <div class="service-list__icon">
                  {{ if eq .name "Content" }}
                    {{ partial "svg-icons/content.svg" . }}
                  {{ end }}
                  {{ if eq .name "Web" }}
                    {{ partial "svg-icons/web.svg" . }}
                  {{ end }}
                  {{ if eq .name "Digital" }}
                    {{ partial "svg-icons/digital.svg" . }}
                  {{ end }}
                  {{ if eq .name "Media" }}
                    {{ partial "svg-icons/media.svg" . }}
                  {{ end }}
                  {{ if eq .name "Design" }}
                    {{ partial "svg-icons/design.svg" . }}
                  {{ end }}
                  {{ if eq .name "Studio" }}
                    {{ partial "svg-icons/studio.svg" . }}
                  {{ end }}
                </div>
            </div>
            <div class="flex flex-column w-60">
              <h4 class="service-list__service-heading g4">
                {{ .name }}
              </h4>
              <ul class="service-list__service-preview">
                <li class="service-list__service-item">{{ .subservice1 }}</li>
                <li class="service-list__service-item">{{ .subservice2 }}</li>
                <li class="service-list__service-item">{{ .subservice3 }}</li>
              </ul>
            </div>
          </div>
        </a>
        {{ end }}
      </div>
    </div>
  </div>