<div class="social">
  <div class="social__inner">
    <ul class="social__nav">
      {{ range .Site.Data.business_info.social_media }}
      <li class="social__list-item">
        <a href="{{ .social.link }}" class="social__link" target="_blank" rel="noopener noreferrer" aria-label="{{ .social.title }}">
            {{ if eq .social.title "Facebook" }}
            {{ partial "svg-icons/facebook.svg" . }}
            {{ else if eq .social.title "Twitter"}}
            {{ partial "svg-icons/twitter.svg" . }}
            {{ else if eq .social.title "Instagram"}}
            {{ partial "svg-icons/instagram.svg" . }}
            {{ else if eq .social.title "LinkedIn"}}
            {{ partial "svg-icons/linkedin.svg" . }}
            {{ else if eq .social.title "YouTube"}}
            {{ partial "svg-icons/youtube.svg" . }}
            {{ end }}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>