<div class="social">
    <div class="social__inner">
      <ul class="social__nav">
        <li class="social__list-item">
          <a href="{{ site.Social.facebook }}" class="social__link" aria-label="Facebook">
              {{ partial "svg-icons/facebook.svg" . }}
          </a>
        </li>
        <li class="social__list-item">
          <a href="{{ site.Social.twitter }}" class="social__link" aria-label="Twitter">
              {{ partial "svg-icons/twitter.svg" . }}
          </a>
        </li>
        <li class="social__list-item">
          <a href="{{ site.Social.instagram }}" class="social__link" aria-label="Instagram">
              {{ partial "svg-icons/instagram.svg" . }}
          </a>
        </li>
        <li class="social__list-item">
          <a href="{{ site.Social.youtube }}" class="social__link" aria-label="YouTube">
              {{ partial "svg-icons/youtube.svg" . }}
          </a>
        </li>
        <li class="social__list-item">
          <a href="{{ site.Social.linkedin }}" class="social__link" aria-label="LinkedIn">
              {{ partial "svg-icons/linkedin.svg" . }}
          </a>
        </li>
      </ul>
    </div>
  </div>