<section class="testimonials container-wide">
    <div class="container padding-top-10 padding-bottom-10">
        <h3>Hire a <span class="emphasis-red">grounded</span> agency with a <span class="emphasis-underline">proven</span>  track record.</h3>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <p>
                    Insight Creative was instrumental in the success of our [rebranding] project. They were able to come up with a marketing plan that captured the essence of our bank and was very well received by our community and customers.”
                </p>
                <h5>Tim Treml, Bank of Luxemburg</h5>
                <a href="#" class="btn btn-primary">View Case Study</a>
            </div>
            <div class="swiper-slide">
                <p>
                    Insight Creative was instrumental in the success of our [rebranding] project. They were able to come up with a marketing plan that captured the essence of our bank and was very well received by our community and customers.”
                </p>
                <h5>Tim Treml, Bank of Luxemburg</h5>
                <a href="#" class="btn btn-primary">View Case Study</a>
            </div>
            <div class="swiper-slide">
                <p>
                    Insight Creative was instrumental in the success of our [rebranding] project. They were able to come up with a marketing plan that captured the essence of our bank and was very well received by our community and customers.”
                </p>
                <h5>Tim Treml, Bank of Luxemburg</h5>
                <a href="#" class="btn btn-primary">View Case Study</a>
            </div>
        </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    </div>
</section>
