<!-- <div class="hero-video__flex" data-scroll-section>
    <div class="hero-video__flex-video"> 
        <video title="Advertising Agency in Green Bay, WI, Insight Creative, Inc. Delivers Communication with Substance" aria-hidden="true" class="hero-video__flex-video-video" autoplay="" loop="" muted="" playsinline="" width="1400" height="800">
            <source src="/video/Insight-Background-Video.m4v" type="video/m4v">
            <source src="/video/Insight-Background-Video.mp4" type="video/mp4">
            <!-<noscript><img src="/images/Insight-Creative-Inc-Communication-With-Substance-Video-Cover.jpg" alt="Insight Creative, Inc. Communication With Substance Video Placeholder" /></noscript>
            <img src="/images/Insight-Creative-Inc-Communication-With-Substance-Video-Cover.jpg" alt="Insight Creative, Inc. Communication With Substance Video Placeholder"> 
        </video>  
    </div> 
</div> -->
<div class="hero-video" data-scroll-section>
    <video id="hero-video__video" title="Advertising Agency in Green Bay, WI, Insight Creative, Inc. Delivers Communication with Substance" aria-hidden="true" class="hero-video__flex-video-video" autoplay="" loop="" muted="" playsinline="" width="1400" height="800">
        <!-<noscript><img src="/images/Insight-Creative-Inc-Communication-With-Substance-Video-Cover.jpg" alt="Insight Creative, Inc. Communication With Substance Video Placeholder" /></noscript>
        <img src="/images/Insight-Creative-Inc-Communication-With-Substance-Video-Cover.jpg" alt="Insight Creative, Inc. Communication With Substance Video Placeholder"> 
    </video>  
</div>