{{ define "main" }}
<h1>{{ .Title }}</h1>
<div class="staff-card__inner flex">
    <div class="staff-card__wrapper text-center w-100 w-30-m">
        <div class="staff-card__image-wrapper">
            <img src="{{ (index .Site.Data.staff .Params.author).image_jpg }}" alt="headshot of Insight Creative's {{ (index .Site.Data.staff .Params.author).job_title }}, {{ (index .Site.Data.staff .Params.author).name }}" class="staff-card__image">
        </div>
    </div>
    <div class="staff-card__bio w-100 w-70-m">
        <span class="staff-card__written-by text-tertiary">Written By</span>
        <h5 class="staff-card__name g3">{{ (index .Site.Data.staff .Params.author).name }}</h5>
        <h6 class="staff-card__job-title text-tertiary shift-up">{{ (index .Site.Data.staff .Params.author).job_title }}</h6>
        <p>{{ (index .Site.Data.staff .Params.author).bio }}</p>
    </div>
</div>
{{ end }}