{{ define "main" }}
<section class="block">
    <div class="wrapper">
        <h1>404</h1>
        <article>
            <p>The page you've requested does not exist, or is unavailable at this time. Our website has recently been redesigned so if you tried to load a bookmarked page, or followed a link from another web site, it's possible that the page you've requested has been moved. Use the navigation menu to locate the information you are looking for, <a href="{{ "/" | relURL }}">go back to the homepage</a>, or read some of our recent posts to learn more about Insight Creative and our <a href="/services/">services</a>.</p>
        </article>
    </div>
</section>
{{ partial "home/featured-posts" . }}
{{ end }}