{{ $heroClass := lower .Page.Title }}
<div class="blog-hero bg-black block text-center">
  <div class="wrapper-md flow">
    <img src="/images/blog-icons/{{ anchorize $heroClass }}-icon.svg" alt="{{ humanize $heroClass }} icon">
    {{ if eq .Title "Blog" }}
    <h1 class="no-margin">Team insights</h1>
    <h2 class="h5">Get expert guidance on business strategy, branding, content marketing, web design and more! </h2>
    {{ else }}
    <h1 class="no-margin">{{ .Params.category_title }}</h1>
    <h2 class="h5">{{ .Description }}</h2>
    {{ end }}
  </div>
</div>