{{ if or .PrevInSection .NextInSection }}
    <div class="post-navigation post-navigation--alt flex">
        <div class="post-navigation__button post-navigation__prev w-50 text-center">
            {{ with .PrevInSection }}
            <a href="{{ .Permalink }}" class="post-navigation__link flex flex-column">
                <span class="post-navigation__label g3">Previous Article</span>
                <span class="post-navigation__title">{{ .Params.seo.title | markdownify }}</span>
            </a>
            {{ end }}
        </div>
        <div class="post-navigation__button post-navigation__next w-50 text-center">
            {{ with .NextInSection }}
            <a href="{{ .Permalink }}" class="post-navigation__link flex flex-column">
                <span class="post-navigation__label g3">Next Article</span>
                <span class="post-navigation__title">{{ .Params.seo.title | markdownify }}</span>
            </a>
            {{ end }}
        </div>
    </div>
{{ end }}