<div class="post-author padding-bottom-10">
    {{ if isset .Params "author" }}
        {{ if (not ( eq .Params.author "Insight Creative" ) ) }}
        <a href="/author/{{ .Params.Author | urlize }}" class="staff-card staff-card--post bg-black">
            <div class="staff-card__inner flex flex-column flex-row-l">
                <div class="staff-card__wrapper text-center w-100 w-30-l">
                    <div class="staff-card__image-wrapper background-circle background-circle--xl">
                        <img src="{{ (index .Site.Data.staff .Params.author).image_jpg }}" alt="headshot of Insight Creative's {{ (index .Site.Data.staff .Params.author).job_title }}, {{ (index .Site.Data.staff .Params.author).name }}" class="staff-card__image">
                    </div>
                </div>
                <div class="staff-card__bio w-100 w-70-l">
                    <h5 class="staff-card__name g3">{{ (index .Site.Data.staff .Params.author).name }}</h5>
                    <h6 class="staff-card__job-title text-tertiary shift-up">{{ (index .Site.Data.staff .Params.author).job_title }}</h6>
                    <p class="staff-card__bio">{{ (index .Site.Data.staff .Params.author).bio }}</p>
                </div>
            </div>
        </a>
        {{ end }}
    {{ end }}
</div>