<section id="featured-projects" class="bg-black-2 block">
  <div class="wrapper-lg">
    <h3 class="fade-up">See what happens when <span class="emphasis-red">clear communication</span> <span class="friday-vibes-white">meets</span> <span class="emphasis-underline">imagination.</span></h3>
    <div class="featured-projects padding-bottom-4">
      <div class="featured-projects__row">
        <a href="{{ .Params.featured_projects.project1.project_url }}" class="featured-projects__link fade-staggered">
          <div class="featured-projects__project flex flex-column-reverse flex-column-m">
            <h4 class="featured-projects__heading">{{ .Params.featured_projects.project1.heading }}</h4>
              <div class="zoom-image featured-projects__image with-zoom">
                  {{ partial "responsive-image" (dict "Page" . "image" .Params.featured_projects.project1.project_cover_image "alt" .Params.featured_projects.project1.project_cover_image_alt "sizes" "100vw" ) }}
                <div class="featured-projects__overlay">
                  <div class="featured-projects__desc h5">
                    {{ .Params.featured_projects.project1.project_title }}
                  </div>
                </div>
              </div>
          </div>
        </a>
        <a href="{{ .Params.featured_projects.project2.project_url }}" class="featured-projects__link fade-staggered">
          <div class="featured-projects__project flex flex-column-reverse flex-column-m">
            <h4 class="featured-projects__heading">{{ .Params.featured_projects.project2.heading }}</h4>
              <div class="zoom-image featured-projects__image with-zoom">
                  {{ partial "responsive-image" (dict "Page" . "image" .Params.featured_projects.project2.project_cover_image "alt" .Params.featured_projects.project2.project_cover_image_alt "sizes" "100vw" ) }}
                <div class="featured-projects__overlay">
                  <div class="featured-projects__desc h5">
                    {{ .Params.featured_projects.project2.project_title }}
                  </div>
                </div>
              </div>
          </div>
        </a>
        <a href="{{ .Params.featured_projects.project3.project_url }}" class="featured-projects__link fade-staggered">
          <div class="featured-projects__project flex flex-column">
            <div class="zoom-image featured-projects__image with-zoom">
                {{ partial "responsive-image" (dict "Page" . "image" .Params.featured_projects.project3.project_cover_image "alt" .Params.featured_projects.project3.project_cover_image_alt "sizes" "100vw" ) }}
              <div class="featured-projects__overlay">
                <div class="featured-projects__desc h5">
                  {{ .Params.featured_projects.project3.project_title }}
                </div>
              </div>
            </div>
            <h4 class="featured-projects__heading">{{ .Params.featured_projects.project3.heading }}</h4>
          </div>
        </a>
        <a href="{{ .Params.featured_projects.project4.project_url }}" class="featured-projects__link fade-staggered">
          <div class="featured-projects__project flex flex-column">
            <div class="zoom-image featured-projects__image with-zoom">
                {{ partial "responsive-image" (dict "Page" . "image" .Params.featured_projects.project4.project_cover_image "alt" .Params.featured_projects.project4.project_cover_image_alt "sizes" "100vw" ) }}
              <div class="featured-projects__overlay">
                <div class="featured-projects__desc h5">
                  {{ .Params.featured_projects.project4.project_title }}
                </div>
              </div>
            </div>
            <h4 class="featured-projects__heading">{{ .Params.featured_projects.project4.heading }}</h4>
          </div>
        </a>
      </div>
    </div>
    <div class="flex flex-justify-end">
      <a href="/work/" class="btn btn-primary">View our latest work</a>
    </div>
  </div>
</section>
