<section class="bg-black-2 block">
  <div class="wrapper-lg fade-up">
    <h3>See what happens when <span class="emphasis-red">clear communication</span> meets <span class="emphasis-underline">imagination.</span></h3>
    <div class="featured-projects padding-bottom-4">
      <div class="featured-projects__row-1 flex flex-column flex-row-m flex-end">
        <a href="/work/" class="w-100 w-40-m project-tall featured-projects__link">
          <div class="featured-projects__project">
            <h4 class="featured-projects__heading">Washington Island Ferry</h4>
              <div class="zoom-image featured-projects__image with-zoom">
                <picture>
                    <img src="{{ .Site.BaseURL }}images/projects/wif-main-logo-options-2400.jpg" alt="">
                </picture>
                <div class="featured-projects__overlay">
                  <div class="featured-projects__desc g5">
                    A one sentence short description of each featured project? Lorem ipsum dolor sit amet magna aliqua.
                  </div>
                </div>
              </div>
          </div>
        </a>
        <a href="/work/fox-structures" class="w-100 w-60-m project-short featured-projects__link">
          <div class="featured-projects__project">
            <h4 class="featured-projects__heading">Fox Structures</h4>
            <div class="zoom-image featured-projects__image with-zoom">
              <picture>
                  <img src="{{ .Site.BaseURL }}images/projects/fox-structures-billboard-main.jpg" alt="">
              </picture>
              <div class="featured-projects__overlay">
                <div class="featured-projects__desc g5">
                  A one sentence short description of each featured project? Lorem ipsum dolor sit amet magna aliqua.
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="featured-projects__row-2 flex flex-column flex-row-m flex-start">
        <a href="/work/fox-structures" class="w-100 w-60-m project-short featured-projects__link">
          <div class="featured-projects__project">
            <div class="zoom-image featured-projects__image with-zoom">
              <picture>
                  <img src="{{ .Site.BaseURL }}images/projects/fox-structures-billboard-main.jpg" alt="">
              </picture>
              <div class="featured-projects__overlay">
                <div class="featured-projects__desc g5">
                  A one sentence short description of each featured project? Lorem ipsum dolor sit amet magna aliqua.
                </div>
              </div>
            </div>
            <h4 class="featured-projects__heading">Fox Structures</h4>
          </div>
        </a>
        <a href="/work/" class="w-100 w-40-m project-tall featured-projects__link">
          <div class="featured-projects__project">
            <div class="zoom-image featured-projects__image with-zoom">
              <picture>
                  <img src="{{ .Site.BaseURL }}images/projects/wif-main-logo-options-2400.jpg" alt="">
              </picture>
              <div class="featured-projects__overlay">
                <div class="featured-projects__desc g5">
                  A one sentence short description of each featured project? Lorem ipsum dolor sit amet magna aliqua.
                </div>
              </div>
            </div>
            <h4 class="featured-projects__heading">Washington Island Ferry</h4>
          </div>
        </a>
      </div>
    </div>
    <div class="flex flex-justify-end">
      <a href="/work/" class="btn btn-primary">View our latest work</a>
    </div>
  </div>
</section>