<section class="testimonials bg-black-2 block">
    <div class="wrapper-lg padding-top-10">
        <div class="wrapper-sm fade-up">
            <h3>{{ .Params.Testimonials.Subhead | markdownify }}</h3>
        </div>
        <div class="slider">
            <div class="quote">
              {{ partial "svg-icons/quote.svg" . }}
            </div>
            <button class="slider__btn-prev btn-inactive">{{ partialCached "svg-icons/chevron-left.svg" . }}</button>
            <div class="slider__wrapper">
                <div class="slider__content">
                    {{ with .Params.Testimonials }}
                    {{ range .Testimonial }}
                    <div class="slider__slide flow">
                    <p>
                        {{ .copy }}
                    </p>
                    <h4 class="h5">{{ .author }}</h4>
                    <a href="{{ .project_link }}" class="btn btn-primary">View Case Study</a>
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            <button class="slider__btn-next">{{ partialCached "svg-icons/chevron-right.svg" . }}</button>
            <div class="slider__dots">
                <button class="slider__dot is-selected"></button>
                <button class="slider__dot"></button>
                <button class="slider__dot"></button>
                <button class="slider__dot"></button>
            </div>
        </div>
    </div>
</section>
