<section class="testimonials bg-black-2 block">
    <div class="wrapper-wide padding-top-10">
        <div class="wrapper-narrow fade-up">
            <h3>{{ .Params.Testimonials.Subhead | markdownify }}</h3>
        </div>
        <div class="wrapper-narrow swiper-container fade-up">
            <div class="testimonials__icon">
                {{ partial "svg-icons/quote.svg" . }}
            </div>
            <div class="swiper-wrapper">
                {{ with .Params.Testimonials }}
                {{ range .Testimonial }}
                <div class="wrapper-narrow swiper-slide">
                    <p>
                        {{ .copy }}
                    </p>
                    <h4 class="h5">{{ .author }}</h4>
                    <a href="{{ .project_link }}" class="btn btn-primary">View Case Study</a>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next">{{ partialCached "svg-icons/chevron-right.svg" . }}</div>
    </div>
</section>
