<section class="testimonials bg-black-2 block" aria-label="Testimonial Slider">
    <div class="wrapper-lg padding-top-10">
        <div class="wrapper-sm fade-up">
            <h2 class="h3">Hire a <span class="emphasis-red">grounded</span> agency with a <span class="emphasis-underline">proven</span> track record.</h3>
        </div>
        <div class="slider fade-up">
            <div role="status" aria-live="assertive" class="visually-hidden"></div>
            <div class="quote">
              {{ partial "svg-icons/quote.svg" . }}
            </div>
            <button class="slider__btn-prev btn-inactive" aria-label="previous slide">{{ partialCached "svg-icons/chevron-left.svg" . }}</button>
            <div class="slider__wrapper bg-black">
                <div class="slider__content">
                    <div class="slider__slide flow flex flex-column flex-justify-center">
                        <p>"Bank of Luxemburg has been extremely pleased with the results of the rebranding initiative ... I believe that Insight Creative was instrumental in the success of this project. They guided our rebranding team and made sure that it was delivered on time, within budget and answered any of our questions along the way. They were able to come up with a marketing plan that captured the essence of our bank and was very well received by our community and customers. Above all, they made the overall process very easy for me, the bank president, which allowed me to concentrate on other aspects of the bank’s strategic plan.”</p>
                        <div>
                            <h3 class="h5 no-margin">Tim Treml, President</h3>
                            <h4 class="h6 no-margin">Bank of Luxemburg</h4>
                        </div>
                        <a href="/work/bank-of-luxemburg-branding/" class="btn btn-primary" tabindex="-1">View Project</a>
                    </div>
                    <div class="slider__slide flow flex flex-column flex-justify-center">
                        <p>"Our multi-faceted project was carried out with the tone, theme, vision and culture we wished to convey and taken to the next level. Our business has grown beyond our imagination because of what Insight has done for us.”</p>
                        <div>
                            <h3 class="h5 no-margin">Hoyt Purinton, President</h3>
                            <h4 class="h6 no-margin">Washington Island Ferry Line</h4>
                        </div>
                        <a href="/work/washington-island-ferry-line-branding/" class="btn btn-primary" tabindex="-1">View Project</a>
                    </div>
                    <div class="slider__slide flow flex flex-column flex-justify-center">
                        <p>"Insight Creative is easy to work with, offering fun, innovative ideas. In a short amount of time, this small team of steam has impressed us with their outside-the-box thought processes based on streamlined systems.”</p>
                        <div>
                            <h3 class="h5 no-margin">Ericka Totzke, Director of Marketing</h3>
                            <h4 class="h6 no-margin">Ho-Chunk Gaming Nekoosa</h4>
                        </div>
                        <a href="/work/ho-chunk-gaming-nekoosa-campaign/" class="btn btn-primary">View Project</a>
                    </div>
                    <div class="slider__slide flow flex flex-column flex-justify-center">
                        <p>"Our sales have exploded, and it is all because of Insight Creative. When we started working with Insight, we asked how we would know if our marketing was successful. You responded that it wouldn’t be as simple as a client comment or a web measurement, but over time we would slowly see our business increase. You also warned us that it wouldn’t happen overnight. You said it would take time and we needed to be patient. Four years later, we are so busy we need to hire three office people and an entire crew. The best part is the caliber of new business we have received is outstanding. We are extremely happy with Insight!”</p>
                        <div>
                            <h3 class="h5 no-margin">Mike Klarner, Co-owner/Commercial Sales Specialist</h3>
                            <h4 class="h6 no-margin">Fox Structures</h4>
                        </div>
                        <a href="/work/fox-structures-branding/" class="btn btn-primary" tabindex="-1">View Project</a>
                    </div>
                    <div class="slider__slide flow flex flex-column flex-justify-center">
                        <p>"When Oshkosh Defense needed a website redesign, we turned to Insight Creative, Inc. to create a more modern design with increased functionality throughout our pages and menus. Their design helped highlight primary areas of our business including our portfolio of vehicles, advanced technologies and community support, so viewers can visit the most important pages on the website first. Not only does the site look great, but the team was efficient and used weekly meetings to ensure our website was done on time and on budget!”</p>
                        <div>
                            <h4 class="h6 no-margin">Oshkosh Defense</h4>
                        </div>
                        <a href="/work/oshkosh-defense-website-redesign/" class="btn btn-primary" tabindex="-1">View Project</a>
                    </div>
                </div>
            </div>
            <button class="slider__btn-next" aria-lebel="next slide">{{ partialCached "svg-icons/chevron-right.svg" . }}</button>
        </div>
    </div>
</section>
