<div class="hero-video">
    <video id="hero-video__video" aria-hidden="true" class="hero-video__flex-video-video" autoplay="" loop="" muted="" playsinline="" width="1800" height="1200">
        <!-<noscript><img src="/images/Insight-Creative-Inc-Communication-With-Substance-Video-Cover.jpg" alt="Insight Creative, Inc. Communication With Substance Video Placeholder" /></noscript>
        <img src="/images/Insight-Creative-Inc-Communication-With-Substance-Video-Cover.jpg" alt="Insight Creative, Inc. Communication With Substance Video Placeholder"> 
    </video>  
</div>