{{ define "main" }}
<section id="contact-hero" class="contact-hero bg-black block">
    <div class="wrapper-md flow">
        <h1 class="no-margin text-center-m">{{ .Params.hero.head | markdownify }}</h1>
        <h2 class="h5 text-center-m">{{ .Params.hero.copy | markdownify }}</h2>
        <div class="sales-grid">
            {{ range sort .Site.Data.staff "weight" "asc" }}
                {{ if eq .department "Sales" }}
                <div class="sales-grid__sales text-center">
                    <div class="staff-card__image-wrapper background-circle background-circle--lg">
                        <img src="{{ .image_jpg }}" alt="headshot of Insight Creative's {{ .job_title }}, {{ .name }}" class="staff-card__image">
                    </div>
                    <h3 class="staff-card__name">{{ .name }}</h3>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
<section id="contact-form" class="block wrapper-md">
    <div class="flex flex-column flex-row-m">
        <div class="w-100 w-60-m">
            <div class="contact-form">
                <h4 class="no-margin">Contact Insight Creative</h4>
                <div class="contact-form__wrapper">
                    <form
  name="contact"
  method="POST"
  data-netlify-recaptcha="true"
  data-netlify="true"
>
  <p>
    <label>
      Email: <input type="text" name="name" />
    </label>
  </p>
  <p>
    <label>
      Message: <textarea name="message"></textarea>
    </label>
  </p>
  <div data-netlify-recaptcha="true"></div>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
                </div>
            </div>
        </div>
        <div class="contact-sidebar w-100 w-40-m">
            <div class="contact-sidebar__info flow">
                <h2 class="h4 no-margin">Come on over</h2>
                <p>Meet our friendly and capable in-house team. Plus, tour our facility and studio!</p>
                <p>
                    {{ .Site.Params.addressSt }}<br>
                    {{ .Site.Params.addressCity }}<br>
                    <a href="https://goo.gl/maps/2MNcw6Dko8Qt9RNs5" target="_blank" rel="noopener noreferrer">Get Directions</a>
                </p>
                <p>Call Us <a href="tel:{{ .Site.Params.phone }}">{{ .Site.Params.phone }}</a></p>
            </div>
            <div class="contact-sidebar__work flow block">
                <h2 class="h4">Explore more</h2>
                <p>See how other brands benefit from our full-service approach.</p>
                <a href="/work/" class="btn btn-primary">View Our Work</a>
            </div>
            <div class="contact-sidebar__cta flow block">
                <h2 class="h4">Careers at Insight</h2>
                <p>Looking for a job that doesn’t feel like work?</p>
                <a href="/careers/" class="btn btn-primary">Join Our Team</a>
            </div>
        </div>
    </div>
</section>
{{ end }}