@use '../globals';

.bg-red {
  background-color: globals.$primaryColor;
}
.bg-black {
  background-color: globals.$darkBlack;
}
.bg-black-2 {
  background-color: globals.$bodyBlack;
}
.background-cover {
  background-size: cover;
  background-position: center center;
}
