.bg-red {
  background-color: $primaryColor;
}
.bg-black {
  background-color: $darkBlack;
}
.bg-black-2 {
  background-color: $bodyBlack;
}
.background-cover {
  background-size: cover;
  background-position: center center;
}
