.parallax-wrapper {
  overflow: hidden;
  position: relative;
  height: 400px;

  &__image {
    border-radius: $radius;
    height: 120%;
    position: absolute;
    top: -25%;
    left: 0;
    object-fit: cover;
    object-position: center;
    will-change: transform;
    backface-visibility: hidden;
  }
}
