* {
  box-sizing: border-box;
  max-width: $measure;
}

html,
body,
div,
section,
header,
nav,
picture,
video,
main,
footer,
hr {
  max-width: none;
}

body {
  background-color: $body-black;
  font-family: $primary-font;
}

// .viewport {
//   overflow: hidden;
//   position: fixed;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
// }

#viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.scrollbar-track {
  z-index: 9999;
}

// .scroll-content {
//   padding-bottom: 508px;
// }

.is-transitioning {
  pointer-events: none;
  cursor: progress;
}

.site-main {
  opacity: 1;
  padding-top: $mobile-header;
  background-color: $body-black;

  @include breakpoint(md) {
    padding-top: $desktop-header;
  }
}

// Style highlight to match our themes colors
::-moz-selection {
  background: rgba(205, 31, 64, 0.8);
  color: $white;
}

::selection {
  background: rgba(205, 31, 64, 0.8);
  color: $white;
}

::-ms-selection {
  background: rgba(205, 31, 64, 0.8);
  color: $white;
}

hr {
  border: 1px solid $dark-black;
  position: relative;
  overflow: initial;
  margin-block-start: $ic-600;

  &::after {
    content: "";
    position: absolute;
    background: url("/images/logo-dark.svg") $body-black;
    height: 50px;
    width: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
