@use '../globals/variables';

* {
  box-sizing: border-box;
}
body {
  background-color: variables.$bodyBlack;
  font-family: variables.$primaryFont;
}
// .viewport {
//   overflow: hidden;
//   position: fixed;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
// }
#viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.scrollbar-track {
  z-index: 9999;
}
// .scroll-content {
//   padding-bottom: 508px;
// }
.site-main {
  opacity: 1;
  margin-top: variables.$desktopHeader;
  // margin-bottom: 508px;
}
ul {
  margin: 0;
}
// Style highlight to match our themes colors
::-moz-selection {
  background: rgba(205, 31, 64, 0.8);
  color: variables.$white;
}
::selection {
  background: rgba(205, 31, 64, 0.8);
  color: variables.$white;
}
::-ms-selection {
  background: rgba(205, 31, 64, 0.8);
  color: variables.$white;
}
