* {
  box-sizing: border-box;
  max-width: $measure;
}

html,
body,
div,
section,
header,
nav,
picture,
video,
main,
footer {
  max-width: none;
}

body {
  background-color: $body-black;
  font-family: $primary-font;
}

// .viewport {
//   overflow: hidden;
//   position: fixed;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
// }

#viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.scrollbar-track {
  z-index: 9999;
}

// .scroll-content {
//   padding-bottom: 508px;
// }

.is-transitioning {
  pointer-events: none;
  cursor: progress;
}

.site-main {
  opacity: 1;
  margin-top: $desktop-header;
  // margin-bottom: 508px;
  background-color: $body-black;
}

// Style highlight to match our themes colors
::-moz-selection {
  background: rgba(205, 31, 64, 0.8);
  color: $white;
}

::selection {
  background: rgba(205, 31, 64, 0.8);
  color: $white;
}

::-ms-selection {
  background: rgba(205, 31, 64, 0.8);
  color: $white;
}
