.cls-1 {
  fill: #78b3bb;
}
.cls-2 {
  fill: #a2a637;
}
.cls-3 {
  fill: #313133;
}
.cls-4 {
  fill: #414042;
}
.cls-5 {
  fill: #fff;
}
.cls-8 {
  fill: none;
}
.cls-9 {
  clip-path: url(#clip-path);
}
