a {
  color: $light-gray;
  transition: 0.3s ease;
}

a:not(.nav-item):not(.site-header__logo):not(.categories):not(.staff-card):not(.share-buttons__link):not(.post-navigation__link):not(.brand-logo):not(.footer
    a):not(.breadcrumbs a):not(.social a):not(.btn):not(.service-list__link):not(.featured-projects__link):not(.blog-card a):not(.category-list__link):not(.pagination__numbers):not(.pagination__next):not(.pagination__previous) {
  text-decoration: none;
  box-shadow: inset 0 -4px 0 rgba($primary-color, 0.7);
  transition: 0.3s cubic-bezier(0.17, 0.88, 0.5, 1.5);

  &:hover,
  &:focus {
    box-shadow: inset 0 -18px 0 rgba($primary-color, 1) !important;
    outline-color: $primary-color;
  }
}

.primary-link,
.secondary-link {
  text-decoration: none;
  position: relative;
  color: $primary-color;
  display: inline-block;
}

.primary-link:after,
.secondary-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
  transition: 300ms ease-in-out;
}

.secondary-link:after {
  content: "";
  background-color: $primary-color;
}

.possible-link-idea {
  text-decoration: none;
  background-image: linear-gradient(
      90deg,
      rgb(139, 192, 198),
      rgb(139, 192, 198)
    ),
    linear-gradient(90deg, rgb(139, 192, 198), rgb(139, 192, 198));
  background-size: 20px 4px, 0% 4px;
  background-repeat: no-repeat;
  background-position-x: calc(20px * -1), 0;
  background-position-y: 100%;
  transition: background-position-x 0.5s;
}

.primary-link,
.secondary-link {
  &:hover {
    &:after {
      transform: scaleX(0);
    }
  }
}

.link {
  text-decoration: none;
  box-shadow: inset 0 -2px 0 $secondary-color;
  transition: 0.3s cubic-bezier(0.17, 0.88, 0.5, 1.5);

  &:hover,
  &:focus {
    box-shadow: inset 0 -13px 0 $secondary-color !important;
    outline-color: $secondary-color;
  }
}
// .link:link,
// .link:visited {
//   transition: color 0.15s ease-in;
// }
// .link:active {
//   transition: color 0.15s ease-in;
// }
