html {
  font-size: 62.5%;
}
body,
button,
input,
select,
optgroup,
textarea {
  color: $lightGray;
  font-family: $primaryFont;
  font-size: 2rem;
  line-height: 3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primaryFont;
  font-weight: 500;
  color: $lightGray;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
p {
  margin: 0 auto 2.5rem auto;
}
/* Font-scale of a major third */
h1,
.g1 {
  font-size: 4.1rem;
  @include breakpoint(sm) {
    font-size: 6.1rem;
  }
}
h2,
.g2 {
  font-size: 3.9rem;
  @include breakpoint(sm) {
    font-size: 4.9rem;
  }
}
h3,
.g3 {
  font-size: 2.9rem;
  @include breakpoint(sm) {
    font-size: 3.9rem;
  }
}
h4,
.g4 {
  font-size: 2.1rem;
  font-weight: 700;
  @include breakpoint(sm) {
    font-size: 3.1rem;
  }
}
h5,
.g5 {
  font-size: 2rem;
  @include breakpoint(sm) {
    font-size: 2.5rem;
  }
  font-weight: 500;
}
h6,
.g6 {
  font-size: 2rem;
}
/* Type Scale Gears*/
.g7 {
  font-size: 1.8rem;
}
.g8 {
  font-size: 1.6rem;
}
.emphasis-red {
  font-family: $secondaryFont;
  background: $primaryColor;
  padding: 0 1rem;
  color: $white;
  // overflow: hidden;
  // display: inline-block;
  // position: relative;
  // top: 18px;
  // &__inner {
  //   // transform: translateX(-100%);
  //   background: $primaryColor;
  //   padding: 0 1rem;
  // }
}
.emphasis-white {
  font-family: $secondaryFont;
  background-color: $lightGray;
  color: $primaryColor;
  padding: 0rem 1rem;
}
.emphasis-underline {
  font-family: "Friday Vibes";
  font-size: 8rem;
  position: relative;
  top: 8px;
  z-index: 1;
  &:after {
    position: absolute;
    content: "";
    bottom: 10px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $tertiaryColor;
    z-index: -1;
  }
  // &__line-mask {
  //   overflow: hidden;
  //   position: absolute;
  //   bottom: -10px;
  //   left: 0;
  //   width: 100%;
  //   height: 4px;
  //   z-index: -1;
  //   @include breakpoint(md) {
  //     bottom: -5px;
  //   }
  // }
  // &__line {
  //   height: 4px;
  //   box-shadow: inset 0 -4px 0 $tertiaryColor;
  //   transition: 0.3s cubic-bezier(0.17, 0.88, 0.5, 1.5);
  //   transform: translateX(-101%);
  // }
}
.friday-vibes-white {
  font-family: "Friday Vibes";
  font-size: 8rem;
  margin: 0 15px;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
@include breakpoint(sm) {
  .text-left-s {
    text-align: left !important;
  }
  .text-right-s {
    text-align: right !important;
  }
  .text-center-s {
    text-align: center !important;
  }
}
@include breakpoint(md) {
  .text-left-m {
    text-align: left !important;
  }
  .text-right-m {
    text-align: right !important;
  }
  .text-center-m {
    text-align: center !important;
  }
}
@include breakpoint(lg) {
  .text-left-l {
    text-align: left !important;
  }
  .text-right-l {
    text-align: right !important;
  }
  .text-center-l {
    text-align: center !important;
  }
}
.i {
  font-style: italic;
}
.b {
  font-weight: bold;
}
.strike {
  text-decoration: line-through;
}
.shift-first {
  text-transform: capitalize;
}
.shift-up {
  text-transform: uppercase;
}
.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.fw7 {
  font-weight: 700;
}
.fw8 {
  font-weight: 800;
}
.fw9 {
  font-weight: 900;
}
.no-margin {
  margin: 0;
}
.text-white {
  color: $white;
}
.text-dark-gray {
  color: $darkGray;
}
.text-primary {
  color: $primaryColor;
}
.text-secondary {
  color: $secondaryColor;
}
.text-tertiary {
  color: $tertiaryColor;
}
