body,
button,
input,
select,
optgroup,
textarea {
  color: $light-gray;
  font-family: $primary-font;
  font-size: $ic-300;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
  font-weight: 500;
  color: $light-gray;
  line-height: 1.2;
  margin-block-end: 0.65em;
  margin-top: 0;
}

h1,
.h1 {
  font-size: $ic-800;
  font-size: clamp($ic-400, 4vw, $ic-800);
}

h2,
.h2 {
  font-size: $ic-700;
  font-size: clamp($ic-400, 4vw, $ic-700);
}

h3,
.h3 {
  font-size: $ic-600;
  font-size: clamp($ic-400, 4vw, $ic-600);
}

h4,
.h4 {
  font-size: $ic-500;
  font-size: clamp($ic-300, 4vw, $ic-500);
}

h5,
.h5 {
  font-size: $ic-400;
  font-size: clamp($ic-300, 4vw, $ic-400);
}

h6,
.h6 {
  font-size: $ic-300;
}

.emphasis-red {
  font-family: $secondary-font;
  background: $primary-color;
  padding: 0 1rem;
  color: $white;
  display: inline-block;
}

.emphasis-white {
  font-family: $secondary-font;
  background-color: $light-gray;
  color: $primary-color;
  padding: 0rem 1rem;
  display: inline-block;
}

.emphasis-underline,
.friday-vibes-white {
  font-family: "Friday Vibes";
  font-size: clamp($ic-600, 5vw, $ic-900);
  position: relative;
  top: 6px;
  z-index: 1;
  line-height: 0.5;
}

.emphasis-underline {
  &::after {
    position: absolute;
    content: "";
    bottom: 10px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $tertiary-color;
    z-index: -1;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

@include breakpoint(md) {
  .text-center-m {
    text-align: center;
  }
}

.i {
  font-style: italic;
}

.b {
  font-weight: bold;
}

.strike {
  text-decoration: line-through;
}

.shift-first {
  text-transform: capitalize;
}

.shift-up {
  text-transform: uppercase;
}

.fw4 {
  font-weight: 400;
}

.fw5 {
  font-weight: 500;
}

.fw6 {
  font-weight: 600;
}

.fw7 {
  font-weight: 700;
}

.fw8 {
  font-weight: 800;
}

.fw9 {
  font-weight: 900;
}

.no-margin {
  margin: 0;
}

.text-white {
  color: $white;
}

.text-dark-gray {
  color: $dark-gray;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-tertiary {
  color: $tertiary-color;
}

.text-underline {
  text-decoration: underline;
}

.text-underline--tertiary {
  text-decoration-color: $tertiary-color;
}
