// Colors
$brand-black: #414042;
$dark-black: #1d1d1d;
$body-black: #292929;
$primary-color: #cd1f40;
$secondary-color: #92981b;
$tertiary-color: #8bc0c6;
$dark-gray: #a8a8a8;
$light-gray: #f6f6f6;
$white: #ffffff;

// Fonts
$primary-font: proxima-nova, sans-serif;
$secondary-font: futura-pt, sans-serif;
@font-face {
  font-family: "Friday Vibes";
  src: url("/fonts/Friday_Vibes.woff");
  src: url("/fonts/Friday_Vibes.woff"), url("/fonts/Friday_Vibes.ttf"),
    url("/fonts/Friday_Vibes.otf");
}

// Other site variables
$radius: 5px;
$mobile-header: 85px;
$desktop-header: 90px;

// Scale and rhythm based on a major third
$ic-100: 0.8rem;
$ic-200: 1rem;
$ic-300: 1.25rem;
$ic-400: 1.563rem;
$ic-500: 1.953rem;
$ic-600: 2.441rem;
$ic-700: 3.052rem;
$ic-800: 3.815rem;
$ic-900: 4.769rem;

$measure-short: 60ch;
$measure: 80ch;
$measure-long: 90ch;
