// Colors
$brandBlack: #414042;
$darkBlack: #1d1d1d;
$bodyBlack: #292929;
$primaryColor: #cd1f40;
$secondaryColor: #92981b;
$tertiaryColor: #8bc0c6;
$darkGray: #a8a8a8;
$lightGray: #f6f6f6;
$white: #ffffff;

// Fonts
$primaryFont: proxima-nova, sans-serif;
$secondaryFont: futura-pt, sans-serif;
@font-face {
  font-family: "Friday Vibes";
  src: url("/fonts/Friday_Vibes.woff");
  src: url("/fonts/Friday_Vibes.woff"), url("/fonts/Friday_Vibes.ttf"),
    url("/fonts/Friday_Vibes.otf");
}

// Other site variables
$radius: 5px;
$mobileHeader: 100px;
$desktopHeader: 100px;
