.author {
  &__image-wrapper {
    position: relative;
    margin-bottom: $ic-200;
    background: $white;
    border-radius: 50%;
    max-width: 250px;
    margin: 0 auto;

    &:after {
      position: absolute;
      content: "";
      top: -7px;
      left: 7px;
      height: 102%;
      width: 102%;
      border: 5px solid $secondary-color;
      border-radius: 50%;
    }
  }

  &__image {
    border-radius: 50%;
    filter: grayscale(1);
    transition: 0.3s ease-out;
  }

  &__name {
    font-family: "Friday Vibes";
    margin-bottom: $ic-200;
    font-size: $ic-700;
  }
}
