.blog-card {
  @include breakpoint(md) {
    width: 50%;
  }

  a {
    text-decoration: none;
    width: 100%;
    height: calc(100% - 65px);

    &:hover,
    &:focus {
      .blog-card__staff-image {
        filter: grayscale(0);
      }
    }
  }

  &__image-wrapper {
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    height: 300px;
  }

  &__image {
    border-radius: $radius;
    height: 120%;
    position: absolute;
    top: -25%;
    left: 0;
    object-fit: cover;
    object-position: center;
    will-change: transform;
    backface-visibility: hidden;
  }

  &__meta {
    position: relative;
    top: -75px;
  }

  &__meta-inner {
    align-items: center;
    justify-content: space-between;
    padding: 0 $ic-300;
  }

  .categories + .categories {
    display: none;

    @include breakpoint(sm) {
      display: initial;
    }
  }

  &__staff-image-wrapper {
    margin-bottom: $ic-200;
  }

  &__staff-image {
    max-width: 100px;
    border-radius: 50%;
    filter: grayscale(1);
    transition: 0.3s ease-out;
  }

  &__title {
    font-weight: 700;
    transition: 0.3s ease;
  }
}

.related-projects,
.work,
.tags {
  .blog-card__meta {
    top: 0;
  }
}