.share-this {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.share-this--row {
  .share-buttons {
    display: flex;
    flex-direction: row;
  }
}
.share-buttons {
  list-style: none;
  padding: 0;
  &__icon-wrapper {
    margin-bottom: 1.5rem;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
  }
  &__link {
    padding: 0 2rem;
    display: block;
    &:hover,
    &:focus {
      svg {
        fill: $secondary-color;
      }
    }
  }
  svg {
    height: 25px;
    width: auto;
    fill: $tertiary-color;
    transition: 0.3s ease;
  }
}
ul.share-buttons li {
  display: inline;
}
ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
